{include file="header" /}

<body>
  <section class="el-container  is-vertical">
    {include file="top" /}
    <section class="el-container">
      {include file="left" /}
      <section class="el-container  is-vertical">
        <main class="el-main" id="main">
          <div id="app">
            <fieldset>
              <legend>退货管理</legend>
            </fieldset>
            <!-- 筛选 -->
            <el-row style="margin-bottom: 10px;">
              <el-col :span="24">
                <el-card>
                  <div slot="header">
                    <span>查询</span>
                  </div>
                  <el-row :gutter="20">
                    <!-- 筛选条件 -->
                    <el-col :span="5">
                      <el-input placeholder="请输入订单号" v-model="searchData.order_no">
                        <template slot="prepend">订单号</template>
                      </el-input>
                    </el-col>
                    <el-col :span="5">
                      <el-input placeholder="请输入退货单号" v-model="searchData.return_order_no">
                        <template slot="prepend">退货单号</template>
                      </el-input>
                    </el-col>
                    <el-col :span="5">
                      <el-input placeholder="请输入用户手机号" v-model="searchData.user_mobile">
                        <template slot="prepend">手机号</template>
                      </el-input>
                    </el-col>
                    <!-- 筛选按钮 -->
                    <el-col :span="4">
                      <el-button icon="el-icon-search" @click="search();"></el-button>
                      <el-button icon="el-icon-refresh" @click="refresh();"></el-button>
                    </el-col>
                  </el-row>
                </el-card>
              </el-col>
            </el-row>
            <!-- 列表 -->
            <el-row>
              <el-col>
                <el-card>
                  <div slot="header">
                    <span>退货列表</span>
                  </div>
                  <!-- 表格 -->
                  <template>
                    <el-table :data="tableData" stripe style="width: 100%">
                      <el-table-column type="expand" width="40" fixed>
                        <template slot-scope="scope">
                          <el-form label-position="left">
                            <el-form-item label="退货单号">
                              <span><el-tag size="mini">{{scope.row.return_order_no}}</el-tag></span>
                            </el-form-item>
                            <el-form-item label="退货理由">
                              <span>{{scope.row.return_reason}}</span>
                            </el-form-item>
                            <el-form-item label="是否已经退款">
                              <span v-if="scope.row.is_return_money ==1">是</span>
                              <span v-if="scope.row.is_return_money == 0">否</span>
                            </el-form-item>
                            <el-form-item label="退款时间" v-if="scope.row.return_money_time">
                              <span>{{scope.row.return_money_time}}</span>
                            </el-form-item>
                            <el-form-item label="退款图片" v-if="scope.row.imgs.length != 0">
                              <img :src="img" v-for="img in scope.row.imgs" style="width: 350px;padding: 20px;">
                            </el-form-item>
                          </el-form>
                        </template>
                      </el-table-column>
                      <el-table-column prop="id" label="ID" width="80" fixed sortable></el-table-column>
                      <el-table-column prop="order_info" label="会员信息">
                        <template slot-scope="scope">
                          <span>{{scope.row.order_info && scope.row.order_info.user_info && scope.row.order_info.user_info.mobile}} ({{ (scope.row.order_info && scope.row.order_info.user_info && scope.row.order_info.user_info.nick_name) || '匿名用户'}})</span>
                        </template>
                      </el-table-column>
                      <el-table-column prop="order_info.order_no" label="所属订单号"></el-table-column>
                      <el-table-column prop="return_goods_info.name" label="商品名称"></el-table-column>
                      <el-table-column prop="return_money" label="退款金额"></el-table-column>
                      <el-table-column prop="status" label="状态" sortable>
                        <template slot-scope="scope">
                          <el-tag size="mini" v-show="scope.row.status == 1">申请中</el-tag>
                          <el-tag size="mini" type="danger" v-show="scope.row.status == 2">已拒绝退货</el-tag>
                          <el-tag size="mini" type="success" v-show="scope.row.status == 3 && scope.row.is_return_money == 0">已同意退货</el-tag>
                          <el-tag size="mini" type="success" v-show="scope.row.status == 3 && scope.row.is_return_money == 1">已退款</el-tag>
                        </template>
                      </el-table-column>
                      <el-table-column prop="update_time" label="申请时间" sortable>
                        <template slot-scope="scope">
                          <i class="el-icon-time"></i>
                          <span>{{ scope.row.create_time }}</span>
                        </template>
                      </el-table-column>
                      <!-- 操作栏 两个操作width设置为140 三个200 -->
                      <el-table-column label="操作" fixed="right" width="200">
                        <template slot-scope="scope">
                          <el-button type="success" v-if="scope.row.status == 1" @click="handleClick(scope.row, 'agree')" type="primary" size="small"
                            plain>同意退货</el-button>
                          <el-button type="danger" v-if="scope.row.status == 1" @click="handleClick(scope.row, 'disagree')" type="primary" size="small"
                            plain>拒绝退货</el-button>
                          <el-button type="success" v-if="scope.row.status == '3' && scope.row.is_return_money == 0" @click="handleClick(scope.row, 'refundMoney')"
                            type="primary" size="small" plain>退款</el-button>
                          <!-- <el-button @click="handleClick(scope.row, 'del')" type="danger" size="small" icon="el-icon-delete" plain></el-button> -->
                        </template>
                      </el-table-column>
                    </el-table>
                  </template>
                  <!-- 分页 -->
                  <template>
                    <div class="block" style="margin-top: 20px;">
                      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="pageSize"
                        :page-size="currentPageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                      </el-pagination>
                    </div>
                  </template>
              </el-col>
            </el-row>
          </div>
        </main>
        {include file="footer" /}
      </section>
    </section>
  </section>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        tableData: [],  //表格数据
        currentPage: parseInt(querystring.currentPage) || 1, //当前页
        currentPageSize: 20,  //当前页容量
        pageSize: [20, 40, 60, 80, 100, 200], //分页大小
        total: 0, //总页数
        // 状态过滤
        statusFilters: [{
          text: '申请中',
          value: 1
        }, {
          text: '已拒绝',
          value: 2
        }, {
          text: '已同意',
          value: 3
        }],
        goods: [],
        is_stock: '',
        order_goods: [],
        goods_num: '',
        statusLabels: [1, 2],
        return_order_goods_id: '',
        // 查询条件
        searchData: {
          order_no: '',
          return_order_no: '',
          user_mobile: '',
          type: 1,
        }
      },
      methods: {
        // 点击代理
        handleClick(data, type) {
          if (type == 'del') {
            this.$confirm('确认删除?', '提示', { type: 'warning' }).then(_ => {
              httpRequest('POST', 'api_orders/orders/delete', { id: data.id }).then(resp => {
                this.$message.success(resp.msg);
                this.tableData.splice(this.tableData.indexOf(data), 1);
              })
            })
          } else if (type === 'agree') {
            this.$alert('确认同意退货?<br><p><input name="checkstock" value="1" type="checkbox"/> 累加到库存</p>', '提示', { dangerouslyUseHTMLString: true })
              .then(_ => {
                if ($("input[name=checkstock]").is(":checked")) {
                  app.is_stock = 1;
                }
                this.tableData.forEach((item) => {
                  if (item.id == data.id) {
                    app.order_goods = item
                  }
                })
                httpRequest('POST', 'api_orders/return_goods/agree', {
                  id: data.id,
                  is_stock: app.is_stock,
                  order_id: app.order_goods.order_id,
                  order_goods_id: app.order_goods.order_goods_id
                }).then(resp => {
                  this.$message.success(resp.msg);
                  setTimeout(_ => {
                    location.reload();
                  }, 500);
                })
              })
          } else if (type === 'disagree') {
            this.$confirm('确认不同意退货?', '提示').then(_ => {
              httpRequest('POST', 'api_orders/return_goods/not_agree', { id: data.id }).then(resp => {
                this.$message.success(resp.msg);
                setTimeout(_ => {
                  location.reload();
                }, 500);
              })
            })
          } else if (type === 'refundMoney') {
            this.$confirm('确认退款?', '提示').then(_ => {
              httpRequest('POST', 'api_orders/return_goods/return_money', { id: data.id }).then(resp => {
                this.$message.success(resp.msg);
                setTimeout(_ => {
                  location.reload();
                }, 500);
              })
            })
          }
        },
        // 跳页
        handleCurrentChange(val) {
          this.currentPage = val;
          this.loadTableData();
        },
        // 跳页
        changeChecked(val) {
        },
        // 改变页容量
        handleSizeChange(val) {
          this.currentPageSize = val;
          this.loadTableData();
        },
        // 过滤
        statusFilterHandler(value, row, column) {
          return row['status'] === value;
        },
        // 搜索
        search() {
          this.currentPage = 1;
          this.loadTableData();
        },
        // 重置
        refresh() {
          this.currentPage = 1;
          for (var key in this.searchData) {
            this.searchData[key] = '';
          }
          this.searchData.type = 1;
          this.loadTableData();
        },
        // 加载数据
        loadTableData() {
          httpRequest('POST', 'api_orders/return_goods/index', this.searchData, {
            'page-num': this.currentPage,
            'page-limit': this.currentPageSize
          }).then(resp => {
            this.tableData = resp.data;
            this.total = resp.page.data_count || 0;
          })
        }
      },
      mounted() {
        this.loadTableData();
      }
    });

  </script>

</body>

</html>