{include file="header" /}
<body>
    <section class="el-container is-vertical">
        {include file="top" /}
        <section class="el-container">
            {include file="left" /}
            <section class="el-container is-vertical">
                <main class="el-main" id="main">
                    <div id="app">
                        <fieldset>
                            <legend>
                                管理员
                            </legend>
                        </fieldset>
                        <!-- 筛选 -->
                        <el-row style="margin-bottom: 10px;">
                            <el-col :span="24">
                                <el-card>
                                    <div slot="header">
                                        <span>
                                            查询
                                        </span>
                                    </div>
                                    <el-row :gutter="20">
                                        <!-- 筛选条件 -->
                                        <el-col :span="5">
                                            <el-input placeholder="请输入帐户名" v-model="searchData.guid">
                                                <template slot="prepend">
                                                    帐户名
                                                </template>
                                            </el-input>
                                        </el-col>
                                        <el-col :span="5">
                                            <el-input placeholder="请输入手机号码" v-model="searchData.mobile">
                                                <template slot="prepend">
                                                    手机号码
                                                </template>
                                            </el-input>
                                        </el-col>
                                        <el-col :span="5">
                                            <el-input placeholder="请输入昵称" v-model="searchData.nick_name">
                                                <template slot="prepend">
                                                    管理员昵称
                                                </template>
                                            </el-input>
                                        </el-col>
                                        <!-- 筛选按钮 -->
                                        <el-col :span="4">
                                            <el-button @click="search();" icon="el-icon-search">
                                            </el-button>
                                            <el-button @click="refresh();" icon="el-icon-refresh">
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                </el-card>
                            </el-col>
                        </el-row>
                        <!-- 列表 -->
                        <el-row>
                            <el-col>
                                <el-card>
                                    <div slot="header">
                                        <span>
                                            管理员列表
                                        </span>
                                        <el-button @click="goAdd()" icon="el-icon-plus" size="mini" style="float: right;" type="primary">
                                            新增管理员
                                        </el-button>
                                    </div>
                                    <!-- 批量操作 -->
                                    <div style="margin-bottom: 10px;">
                                        <el-button :disabled="multipleSelection.length == 0" @click="multiOperate('pull_black')" icon="el-icon-error" plain="" size="small" type="danger">
                                            批量拉黑
                                        </el-button>
                                        <el-button :disabled="multipleSelection.length == 0" @click="multiOperate('recover_normal')" icon="el-icon-success" plain="" size="small" type="success">
                                            批量恢复
                                        </el-button>
                                    </div>
                                    <!-- 表格 -->
                                    <template>
                                        <el-table :data="tableData" @selection-change="handleSelectionChange" stripe="" style="width: 100%">
                                            <el-table-column type="selection">
                                            </el-table-column>
                                            <el-table-column fixed="" label="ID" prop="id" sortable="" width="80">
                                            </el-table-column>
                                            <el-table-column fixed="" label="帐户名" prop="guid">
                                            </el-table-column>
                                            <el-table-column :filter-method="statusFilterHandler" :filters="statusFilters" fixed="" label="状态" prop="status">
                                                <template slot-scope="scope">
                                                    <el-tag size="mini" type="success" v-if="scope.row.status == 1">
                                                        正常
                                                    </el-tag>
                                                    <el-tag size="mini" type="info" v-else-if="scope.row.status == 9">
                                                        黑名单
                                                    </el-tag>
                                                </template>
                                            </el-table-column>
                                            <el-table-column fixed="" label="手机号码" prop="mobile">
                                            </el-table-column>
                                            <el-table-column fixed="" label="邮箱" prop="email">
                                            </el-table-column>
                                            <el-table-column label="昵称" prop="nick_name">
                                            </el-table-column>
                                            <!-- 操作栏 两个操作width设置为140 三个200 -->
                                            <el-table-column fixed="right" label="操作" width="300">
                                                <template slot-scope="scope">
                                                    <el-button @click="handleClick(scope.row, 'reset')" plain="" size="small">
                                                        重置密码
                                                    </el-button>
                                                    <el-button @click="handleClick(scope.row, 'edit')" icon="el-icon-edit-outline" plain="" size="small" type="primary">
                                                    </el-button>
                                                    <el-button @click="handleClick(scope.row, 'del')" icon="el-icon-delete" plain="" size="small" type="danger">
                                                    </el-button>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </template>
                                    <!-- 分页 -->
                                    <template>
                                        <div class="block" style="margin-top: 20px;">
                                            <el-pagination :current-page="currentPage" :page-size="currentPageSize" :page-sizes="pageSize" :total="total" @current-change="handleCurrentChange" @size-change="handleSizeChange" layout="total, sizes, prev, pager, next, jumper">
                                            </el-pagination>
                                        </div>
                                    </template>
                                </el-card>
                            </el-col>
                        </el-row>
                        <!-- dialog -->
                        <el-dialog :visible.sync="dialogVisible" title="编辑会员">
                            <el-row :gutter="20">
                                <el-col :offset="4" :span="16">
                                    <el-form :model="selectData" :rules="rules" label-position="left" label-width="80px" ref="ruleForm">
                                        <el-form-item label="帐户名" prop="guid">
                                            <el-input v-model.number="selectData.guid">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="手机号码" prop="mobile">
                                            <el-input v-model="selectData.mobile">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="登录密码" prop="password" v-if="!this.selectData.id">
                                            <el-input type="password" v-model.number="selectData.password">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="昵称" prop="nick_name">
                                            <el-input v-model="selectData.nick_name">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="联系电话" prop="telephone">
                                            <el-input v-model="selectData.telephone">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="邮箱" prop="email">
                                            <el-input v-model="selectData.email">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="部门" prop="department">
                                            <el-select placeholder="请选择" v-model="selectData.department">
                                                <el-option :key="item.value" :label="item.label" :value="item.value" v-for="item in options">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="选择角色" prop="role_ids">
                                            <el-checkbox-group v-model="selectData.role_ids">
                                                <el-checkbox :key="roleKey" :label="role.id" :value="role.id" v-for="(role, roleKey) in roles">
                                                    {{role.name}}
                                                </el-checkbox>
                                            </el-checkbox-group>
                                        </el-form-item>
                                        <el-form-item label="备注" prop="memo">
                                            <el-input type="textarea" v-model="selectData.memo">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="管理员头像" prop="sort">
                                            <ul class="el-upload-list el-upload-list--picture-card">
                                                <li class="el-upload-list__item is-ready" v-if="selectData.avatar">
                                                    <img :src="selectData.avatar" class="el-upload-list__item-thumbnail">
                                                        <span class="el-upload-list__item-actions">
                                                            <span @click="fileClick" class="el-upload-list__item-edit">
                                                                <i class="el-icon-edit">
                                                                </i>
                                                            </span>
                                                        </span>
                                                    </img>
                                                </li>
                                                <div @click="fileClick" class="el-upload el-upload--picture-card" v-else="">
                                                    <i class="el-icon-plus">
                                                    </i>
                                                </div>
                                            </ul>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button @click="dialogVisible = false;" plain="">
                                                取消
                                            </el-button>
                                            <el-button @click="submit" type="primary">
                                                提交
                                            </el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <input @change="fileChange($event)" id="imgAdd" style="display: none" type="file">
                            </input>
                        </el-dialog>
                    </div>
                </main>
                {include file="footer" /}
            </section>
        </section>
    </section>
    <script type="text/javascript">
        var app = new Vue({
      el: '#app',
      data: {
        tableData: [],  //表格数据
        currentPage: parseInt(querystring.currentPage) || 1, //当前页
        currentPageSize: 20,  //当前页容量
        pageSize: [20, 40, 60, 80, 100, 200], //分页大小
        total: 0, //总页数
        multipleSelection: [],  //多选项
        // 状态过滤
        statusFilters: [{
          text: '正常',
          value: 1
        }, {
          text: '黑名单',
          value: 9
        }],
        
         options: [],   //数据
        // 查询条件
        searchData: {
          guid: '',
          mobile: '',
          nick_name: ''
        },
        // dialog
        dialogVisible: false,
        selectData: {},
        roles: [],
        rules: {
          guid: [
            { required: true, message: '请输入帐户名', trigger: 'blur' },
          ],
          password: [
            { required: true, message: '请输入密码', trigger: 'blur' },
          ]
        },
      },
      methods: {
        // 点击代理
        handleClick(data, type) {
          if (type == 'del') {
            this.$confirm('确认删除?', '提示', { type: 'warning' }).then(_ => {
              httpRequest('POST', 'api_admins/admins/delete', { id: data.id }).then(resp => {
                this.$message.success(resp.msg)
                this.tableData.splice(this.tableData.indexOf(data), 1);
              })
            })
          } else if (type === 'edit') {
            this.$refs.ruleForm && this.$refs.ruleForm.clearValidate();
            this.selectData = deepCopy(data);
            this.dialogVisible = true;
          } else if (type === 'reset') {
            this.$prompt('请输入新密码', '提示', {
              inputPattern: /.+/,
              inputErrorMessage: '请输入新密码'
            }).then(({ value }) => {
              httpRequest('POST', 'api_admins/admin_accounts/reset_password', {
                guid: data.guid,
                password: value,
                password_confirm: value
              }).then(resp => {
                this.$message.success(resp.msg)
              })
            })
          }
        },
        // 跳页
        handleCurrentChange(val) {
          this.currentPage = val;
          this.loadTableData();
        },
        // 改变页容量
        handleSizeChange(val) {
          this.currentPageSize = val;
          this.loadTableData();
        },
        // 过滤
        statusFilterHandler(value, row, column) {
          return row['status'] === value;
        },
        // 搜索
        search() {
          this.currentPage = 1;
          this.loadTableData();
        },
        // 重置
        refresh() {
          this.currentPage = 1;
          for (var key in this.searchData) {
            this.searchData[key] = ''
          }
          this.loadTableData();
        },
        // 多选监听
        handleSelectionChange(val) {
          this.multipleSelection = val;
        },
        // 批量操作
        multiOperate(type) {
          let ids = this.multipleSelection.map(item => item.id);
          this.$confirm('确认批量操作?', '提示', { type: 'warning' }).then(_ => {
            httpRequest('POST', `api_admins/admins/batch_${type}`, { id: ids }).then(resp => {
              this.$message.success(resp.msg);
              setTimeout(_ => {
                location.reload();
              }, 500);
            })
          })
        },
        // 新增
        goAdd() {
          this.selectData = {
            mobile: '',
            user_name: '',
            nick_name: '',
            telephone: '',
            qq: '',
            wechat: '',
            email: '',
            address: '',
            memo: '',
            avatar: '',
            role_ids: []
          };
          this.dialogVisible = true;
          this.$refs.ruleForm && this.$refs.ruleForm.clearValidate();
        },
        // 加载数据
        loadTableData() {
          httpRequest('POST', 'api_admins/admins/index', this.searchData, {
            'page-num': this.currentPage,
            'page-limit': this.currentPageSize
          }).then(resp => {
            this.tableData = resp.data;
            this.total = resp.page.data_count || 0;
          })
          httpRequest('POST', 'api_users/users/poindex', this.searchData, {
           }).then(resp => { 
            resp.data.position.forEach(function (item) {
                var cate = {
                  value: item.position_name,
                  label: item.position_name
                } 
                app.options.push(cate);
              }) 
          })
        },
        // ----------------- dialog -------------------
        submit() {
          this.$refs.ruleForm.validate(valid => {
            if (valid) {
              // 通过校验
              let router = this.selectData.id ? 'api_admins/admins/update' : 'api_admins/admins/save';
              httpRequest('POST', router, this.selectData).then(resp => {
                this.$message.success(resp.msg)
                setTimeout(_ => {
                  location.reload();
                }, 500)
              });
            } else {
              return false;
            }
          });
        },
        fileClick() {
          document.getElementById('imgAdd').click();
        },
        fileChange(el) {
          Array.from(el.target.files).forEach(item => {
            let formData = new FormData();
            formData.append('file', item);
            formData.append('save_path', userImagePath);
            formData.append('is_rename', 1);
            httpRequest('POST', 'api_systems/helper/upload_file', formData).then(resp => {
              this.selectData.avatar = resp.data.host_file_path;
            })
          })
        },
      },
      mounted() {
        this.loadTableData();
        httpRequest('post', 'api_systems/roles/index', { type: 'admin' }).then(resp => {
          this.roles = resp.data;
        })
      }
    });
    </script>
</body>
