<!-- 我的客户页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header">
      <a class="aui-pull-left aui-btn" onclick="javascript:window.history.back(); return false;">
        <span class="aui-iconfont aui-icon-left">
          我的团队
          <span class="aui-text-pray aui-font-size-16" v-text="'(' + team_info.total_num + ')'"></span>
        </span>
      </a>
      <!-- <div class="aui-title" v-text="title"></div> -->
      <a class="aui-pull-right aui-btn">
        <span class="aui-iconfont"></span>
      </a>
    </header>
    <!-- 中间页 -->
    <div class="aui-content">
      <div class="aui-tab" id="tab" v-if="activeStatus != -1">
        <div class="aui-tab-item" :class="{'aui-active': (activeStatus == 1)}" @click="changeStatus(1)" v-text="'一级(' + team_info.level_1_num + ')'"></div>
        <div v-if="level > 1" class="aui-tab-item" :class="{'aui-active': (activeStatus == 2)}" @click="changeStatus(2)" v-text="'二级(' + team_info.level_2_num + ')'"></div>
        <div v-if="level > 2" class="aui-tab-item" :class="{'aui-active': (activeStatus == 3)}" @click="changeStatus(3)" v-text="'三级(' + team_info.level_3_num + ')'"></div>
      </div>
      <div class="aui-clearfix aui-margin-10">
        <i class="iconfont icon-tubiao-" style="color: #2a8ee8;"></i>
        <span class="aui-margin-l-10 aui-font-size-14">成员信息</span>
        <span class="aui-pull-right aui-font-size-14 aui-text-pray">提现佣金/下级分销商</span>
      </div>

      <ul class="aui-list aui-media-list aui-bg-default">
        <li class="aui-list-item aui-list-item-middle aui-bg-white aui-margin-b-10" v-for="(team, teamKey) in teams" :key="teamKey">
          <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media" style="width: 3rem;">
              <img :src="team.avatar || '__static__/images/avatar.png'" class="aui-img-round aui-list-img-sm">
            </div>
            <div class="aui-list-item-inner">
              <div class="aui-list-item-text">
                <div class="aui-list-item-title" v-text="team.nick_name || team.mobile"></div>
                <div class="aui-list-item-right aui-text-info" v-text="'+' + team.user_info.already_drawcash_commission_money + '元'"></div>
              </div>
              <div class="aui-list-item-text aui-margin-t-5">
                <div class="aui-list-item-title aui-font-size-14 aui-text-pray">注册时间:{{team.become_distributor_time}}</div>
                <div class="aui-list-item-right  aui-text-pray" v-text="(team.team_num || 0) + '成员'"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    // 滚动到底部的事件
    scrollEvent = function () {
      var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
      if (document.documentElement.scrollHeight - scrollTop - document.documentElement.clientHeight < 10) {
        loadData();
      }
    }
    var app = new Vue({
      el: '#app',
      data: {
        title: '我的客户',
        activeStatus: 1,
        teams: [],
        team_info: {
          level_1_num: 0,
          level_2_num: 0,
          level_3_num: 0,
          total_num: 0,
        },
        // 分销层级
        level: 1,
      },
      methods: {
        // 改变查询的订单状态
        changeStatus: function (status) {
          this.activeStatus = status;
          page = 1;
          app.teams = [];
          loadData();
        },
      },
      computed: {

      },
      filters: {

      },
      mounted: function () {
        var that = this;
        // 获取分销基本参数
        httpRequest('POST', 'api_drp/rules/index').then(function (resp) {
          that.level = resp.data.level;
        })
      }
    });
    var page = 1;
    function loadData() {
      document.body.onscroll = null;
      httpRequest('POST', 'api_drp/team/team_users', {
        team_type: app.activeStatus
      }, {
          'page-num': page,
          'page-limit': 10
        }).then(function (resp) {
          app.team_info = resp.data.team_info;
          if (resp.data.team_users.length > 0) {
            app.haveNoData = false;
            resp.data.team_users.forEach(function (item) {
              app.teams.push(item);
            })
            if (resp.data.team_users.length == 10) {
              page++;
              document.body.onscroll = scrollEvent;
            } else {
              document.body.onscroll = null;
            }
          } else {
            if (page == 1) {
              app.haveNoData = true;
            }
          }
        });
    }
    loadData();
  </script>
</body>

</html>