<!-- 新建html模板页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
</head>

<body>
  <div id="app">
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header" style="background-image:none;">
      <a class="aui-pull-left aui-btn" onclick="gotowap('group_shop')">
        <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title" v-text="title"></div>
    </header>
    <div class="aui-content">
      <!-- 订单状态 -->
      <div class="aui-tab" id="tab" v-if="activeStatus != -1">
        <div class="aui-tab-item" :class="{'aui-active': (activeStatus == 0)}" @click="changeStatus(0)">全部</div>
        <div class="aui-tab-item" :class="{'aui-active': (activeStatus == 1)}" @click="changeStatus(1)">待付款</div>
        <div class="aui-tab-item" :class="{'aui-active': (activeStatus == 2)}" @click="changeStatus(2)">拼团中</div>
        <div class="aui-tab-item" :class="{'aui-active': (activeStatus == 3)}" @click="changeStatus(3)">待发货</div>
        <div class="aui-tab-item" :class="{'aui-active': (activeStatus == 4)}" @click="changeStatus(4)">待收货</div>
      </div>
      <!-- 什么都没有 -->
      <div v-if="haveNoData" class="aui-col-xs-12 aui-text-center" style="margin-top:30%;">
        <img src="__static__/wap/images/no_content.png" style="width:18%;margin:0 auto;">
        <h5 style="margin-top:1rem;" class="aui-font-size-14">啊哦,这里什么都没有~</h5>
      </div>
      <!-- 订单列表 -->
      <div v-else class="aui-padded-5 aui-bg-white aui-margin-t-10" v-for="(order,key) in orders" :key="key" @click="goOrderDetail(order);">
        <!-- 时间和状态 -->
        <div class="aui-padded-5 aui-font-size-12">
          <span v-text="order.create_time"></span>
          <span class="aui-pull-right aui-text-info">{{order | orderStatus}}</span>
        </div>
        <div class=" aui-padded-l-5 aui-padded-r-5 aui-bg-white">
          <!-- 商品列表 -->
          <ul class="aui-list aui-media-list" style="background-image:none;">
            <li class="aui-list-item aui-margin-b-5 aui-bg-default" v-for="(goods,index) in order.order_goods_info" :key="index" style="background-image:none;">
              <div class="aui-media-list-item-inner">
                <!-- 商品缩略图 -->
                <div class="aui-list-item-media">
                  <img :src="goods.thum">
                </div>
                <div class="aui-list-item-inner">
                  <!-- 商品名称 -->
                  <div class="aui-list-item-text">
                    <div class="aui-list-item-title aui-ellipsis-2 aui-font-size-14" style="width:70%;" v-text="goods.name"></div>
                    <div class="aui-list-item-righ aui-text-price">
                      <span style="font-size: 0.5rem; ">￥</span>
                      <span class="aui-font-size-14 " v-text="goods.sell_price"></span>
                    </div>
                  </div>
                  <!-- 规格加数量 -->
                  <div class="aui-list-item-text aui-text-pray aui-margin-t-5">
                    <div class="aui-list-item-title aui-font-size-12 aui-text-pray" style="width:70%;">
                      <span v-if="goods.spec_group_id != 0" v-text="'规格: '+ goods.spec_group_info"></span>
                    </div>
                    <div class="aui-list-item-righ aui-text-pray">
                      <span class="aui-padded-5" v-text=" 'x ' + goods.num"></span>
                    </div>
                  </div>
                  <!-- 评价 -->
                  <!-- <div class="aui-list-item-text aui-margin-t-5">
                    <div class="aui-list-item-title aui-text-pray aui-font-size-12" style="width:70%;"></div>
                    <div class="aui-list-item-right" style="width:30%;" @click.stop="goComment(order.id,goods)" v-if="order.status == 4 && goods.is_comment == 0 && goods.return_goods_status != 3 && goods.return_goods_status != 1">
                      <div class="order-buttons aui-text-right">
                        <div class="mini-button aui-font-size-10">评价</div>
                      </div>
                    </div>
                  </div> -->
                  <!-- 退款 针对已付款和已发货的订单 -->
                  <div class="aui-list-item-text aui-margin-t-10">
                    <div class="aui-list-item-title aui-text-pray aui-font-size-12 " style="width:70%;"></div>
                    <!-- <div class="aui-list-item-right" style="width:30%;" @click.stop="refund(goods)" v-if="(order.status == 2 || order.status == 3) && goods.return_goods_status == 0">
                      <div class="order-buttons aui-text-right">
                        <div class="mini-button aui-font-size-10">退款</div>
                      </div>
                    </div> -->
                    <!-- <div class="aui-list-item-right aui-text-right" style="width:30%;" @click.stop="refund(goods)" v-if="goods.return_goods_status == 1">退款申请中</div>
                    <div class="aui-list-item-right aui-text-right" style="width:30%;" v-else-if="goods.return_goods_status == 2">退款已拒绝</div>
                    <div class="aui-list-item-right aui-text-right" style="width:30%;" v-else-if="goods.return_goods_status == 3">退款成功</div> -->
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- 小计 -->
        <div class="aui-padded-t-10 aui-padded-b-10 aui-text-right aui-bg-white aui-font-size-12 " style="width: 100%; ">
          共
          <span v-text="order.order_goods_info.length "></span> 件商品 合计:
          <span class="aui-text-price " style="font-size: 0.5rem; ">￥</span>
          <span class="aui-text-price aui-font-size-14 " v-text="order.total_money"></span>
        </div>
        <!-- 按钮组 -->
        <div class="order-buttons aui-padded-b-5 ">
          <div class="button active " @click.stop="pay(order) " v-if="order.status==1 ">立即付款</div>
          <div class="button " @click.stop="cancel(order) " v-if="order.status==1 ">取消订单</div>
          <div class="button " @click.stop="share(order) " v-if="order.status==2 && order.group_buy_status == 1">分享邀请</div>
          <div class="button " @click.stop="remind(order) " v-if="order.status==2 && order.group_buy_status == 3">提醒发货</div>
          <div class="button active " @click.stop="finish(order) " v-if="order.status==3">确认收货</div>
          <div class="button " @click.stop="goLogistics(order) " v-if="order.status==3">查看物流</div>
        </div>
      </div>
    </div>
  </div>
  <script src="__static__/wap/aui/script/aui-actionsheet.js"></script>
  <script>
    var actionsheet = new auiActionsheet();
    // 滚动到底部的事件
    scrollEvent = function () {
      var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
      if (document.documentElement.scrollHeight - scrollTop - document.documentElement.clientHeight < 10) {
        loadOrders();
      }
    }
    var cancelOrderButtons = ['我不想买了', '信息填写错误,重新下单', '商家缺货', '其他原因'];
    var page = 1;
    var app = new Vue({
      el: '#app',
      data: {
        title: '团购订单',
        activeStatus: querystring.status,
        haveNoData: false,
        orders: [],
        group_shop_type: 1, // 1为系统拼团模式，2为会员拼团模式
        share_url: '',
      },
      methods: {
        // 改变查询的订单状态
        changeStatus: function (status) {
          this.activeStatus = status;
          page = 1;
          this.orders = [];
          loadOrders();
        },
        // 查看订单详情
        goOrderDetail: function (order) {
          gotowap('group_order_detail', { orderId: order.id });
        },
        //评论
        goComment: function (orderId, goods) {
          setStorage('goods', goods, sessionStorage);
          gotowap('comment_add', { orderId: orderId });
        },
        //查看物流
        goLogistics: function (order) {
          setStorage('order', order, sessionStorage);
          gotowap('logistics');
        },
        // 取消订单
        cancel: function (order) {
          actionsheet.init({
            frameBounces: true,//当前页面是否弹动，（主要针对安卓端）
            title: "请选择取消订单的原因",
            buttons: cancelOrderButtons,
          }, function (ret) {
            if (ret.buttonIndex == 4) {
              layer.prompt({
                title: '请输入原因',
                formType: 0, //输入框类型，支持0（文本）默认1（密码）2（多行文本）
                value: '' //初始值
              }, function (value, index, elem) {
                app.doCancel(order.id, value);
                layer.close(index);
              });
            } else {
              app.doCancel(order.id, cancelOrderButtons[ret.buttonIndex - 1]);
            }

          })
        },
        // 执行取消订单
        doCancel: function (orderId, reason) {
          httpRequest('POST', 'api_orders/cancel_orders/user_cancel', {
            order_id: orderId,
            cancel_reason: reason
          }).then(function (resp) {
            layer.msg(resp.msg);
            setTimeout(function () {
              app.activeStatus = 0;
              page = 1;
              app.orders = [];
              loadOrders();
            }, 500)
          })
        },
        //付款
        pay: function (order) {
          httpRequest('POST', 'api_orders/pay/pre_pay', {
            order_id: order.id
          }).then(function (resp) {
            gotowap('pay_select', { order_no: order.order_no, total_money: order.total_money, order_id: order.id, type: order.type });
          })
        },
        // 申请退款
        refund: function (goods) {
          setStorage('refundGoods', goods, sessionStorage)
          gotowap('order_refund');
        },
        //分享邀请
        share: function (order) {
          var that = this;
          var goods_id = order.group_buy_goods_id;
          // 查询当前团购商品数据ID
          httpRequest('POST', 'api_query/group_buy_goods/goods_info', { group_buy_type: that.group_shop_type, goods_id: goods_id }).then(function (resp) {
            var id = resp.data.id;
            that.share_url = location.origin + '/wap/index/group_goods_detail.html?goodsId=' + goods_id + '&id=' + id;
            layer.open({
              type: 2,
              title: '邀请他人扫描二维码！',
              content: location.origin + '/wap/index/group_shop_share.html',
              offset: 'b',
              area: [document.body.offsetWidth + 'px', innerHeight * 0.50 + 'px'],
              anim: 2,
              fixed: true,
              resize: false,
            })
          });
        },
        //提醒发货
        remind: function (order) {
          httpRequest('POST', 'api_orders/tip_deliver/tip', {
            order_id: order.id
          }).then(function (resp) {
            layer.msg(resp.msg)
          })
        },
        // 确认收货
        finish: function (order) {
          layer.confirm('确认收货?', { title: '提示' }, function (index) {
            layer.close(index);
            httpRequest('POST', 'api_orders/sign_orders/user_sign', {
              order_id: order.id
            }).then(function (resp) {
              layer.msg(resp.msg);
              setTimeout(function () {
                app.activeStatus = 0;
                page = 1;
                app.orders = [];
                loadOrders();
              }, 500)
            })
          })
        },
      },
      filters: {
        orderStatus: function (order) {
          var str = '';
          if (order.status == 1) {
            str += '等待付款';
          } else if (order.status == 2 && order.group_buy_status == 1) {
            str += '拼团中';
          } else if (order.group_buy_status == 2 || order.group_buy_status == 4) {
            str += '拼团失败(退款中)';
          } else if (order.group_buy_status == 5) {
            str += '拼团失败(已退款)';
          } else if (order.status == 2 && order.group_buy_status == 3) {
            str += '待发货';
          } else if (order.status == 3 && order.group_buy_status == 3) {
            str += '已发货';
          } else if (order.status == 4 && order.group_buy_status == 3) {
            str += '交易完成';
          } else if (order.status == 9) {
            str += '订单已取消';
          }
          return str;
        }
      },
      mounted: function () {
        var that = this;
        // 查询当前团购模式
        httpRequest('POST', 'api_group_buy/rules/index').then(function (resp) {
          that.group_shop_type = resp.data.type;
        });
      }
    })
    loadOrders = function () {
      document.body.onscroll = null;
      var data = {};
      if (app.activeStatus == -1) {
        // 售后订单
        data.is_has_return_goods = 1;
      } else if (app.activeStatus == 1 || app.activeStatus == 2 || app.activeStatus == 3) {
        // 待付款 待发货 待收货
        data.status = app.activeStatus;
      } else if (app.activeStatus == 4) {
        // 待评价
        data.status = app.activeStatus;
        data.is_comment = 0;
      }
      httpRequest('POST', 'api_group_buy/orders/lists', data, {
        'page-num': page,
        'page-limit': 10
      }).then(function (resp) {
        if (resp.data.length > 0) {
          app.haveNoData = false;
          resp.data.forEach(function (item) {
            app.orders.push(item);
          })
          if (resp.data.length == 10) {
            page++;
            document.body.onscroll = scrollEvent;
          } else {
            document.body.onscroll = null;
          }
        } else {
          if (page == 1) {
            app.haveNoData = true;
          }
        }
      });
    }
    loadOrders();
  </script>
</body>

</html>