<!-- 代理微信授权code -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon" />


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header" style="background-image:none;">
      <a class="aui-pull-left aui-btn" onclick="javascript:window.history.back(); return false;">
        <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title" v-text="title"></div>
    </header>
  </div>
  <script src="__static__/wap/aui/script/aui-actionsheet.js"></script>
  <script>
    var actionsheet = new auiActionsheet();
    var app = new Vue({
      el: '#app',
      data: {
        title: '请稍后...',
        wechat_info: {}
      },
      methods: {
        // 页面跳转
        go: function (type) {},
        // state 事件分发
        dispatchEvent: function () {
          var that = this;
          var state = querystring.state;
          // 增加收款账户
          if (state == 'add_receive_account') {
            httpRequest('POST', 'api_users/user_third_accounts/update', {
              type: 'wechat',
              account: that.wechat_info.openid,
              name: 'openid',
            }).then(function (resp) {
              layer.msg(resp.msg);
              setTimeout(function () {
                gotowap('my_receive_account');
              }, 800);
            })
          } else if (state == 'login') {
            // 登录
            httpRequest('POST', 'api_systems/Oauth/wap_query_userinfo_by_wechat_unionid', {
              unionid: that.wechat_info.openid,
            }).then(function (resp) {
              console.log(resp)
              if (resp.msg == 1) {
                // 如果找到登录
                user = resp.data.user;
                token = resp.data.token;
                setStorage(getClientType() + 'User', resp.data.user);
                setStorage(getClientType() + 'Token', resp.data.token);
                layer.msg(resp.msg);
                setTimeout(function () {
                  window.location = '../../../../668supermarket/views/Mine.html'
                }, 500)
              } else if (resp.msg == 1001) {
                var params = {
                  openid: that.wechat_info.unionid,
                  nick_name: that.wechat_info.nickname,
                  third_type: 'wechat',
                  real_openid: that.wechat_info.openid,
                }
                layer.msg('您是新用户，正在跳转注册...', function () {
                  window.location = '../../../../668supermarket/views/My_IDappliaction.html?opid=' + that
                    .wechat_info.openid
                });
                // actionsheet.init({
                //   frameBounces: true,
                //   title: "请选择",
                //   buttons: ['绑定已有账号', '注册新账号'],
                // }, function (ret) {
                //   if (ret.buttonIndex == 1) {
                //     gotowap('bind_mobile', params);
                //   } else if (ret.buttonIndex == 2) {
                //     gotowap('register', params);
                //   }
                // })
              } else if (resp.msg == 2002) {
                layer.msg('审核未通过！')
              } else if (resp.msg == 4004) {
                layer.msg('正在审核中！')
              } else if (resp.msg == 3003) {
                layer.msg('已被拉入黑名单！')
              }
            })
          } else if (state == 'bind_in_login') {
            httpRequest('POST', 'api_users/binding/save_in_login', {
              openid_type: 'wechat',
              openid: that.wechat_info.unionid
            }).then(function (resp) {
              layer.msg(resp.msg);
              setTimeout(function () {
                gotowap('bind_third_setting');
              }, 500)
            })
          }
        }
      },
      mounted: function () {
        var that = this
        httpRequest('POST', 'api_systems/Oauth/wap_wechat_get_userinfo', {
          code: querystring.code
        }).then(function (resp) {
          console.log(resp)
          that.wechat_info = resp.data;
          that.dispatchEvent();
        }).catch(function (e) {
          history.back();
        })
      }
    })
  </script>
</body>

</html>