<!-- 新建html模板页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
<style>
  #message {
    background-color: #fff;
    width: 96%;
    height: 6rem;
    border: 1px solid #eee;
    border-radius: 0.2rem;
    margin: 0rem 2%;
    padding: .3rem;
    letter-spacing: .1rem;
  }

  .option {
    background-color: #f4f4f4;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 100%;
    padding-left: 0.5rem;
  }
</style>
</head>

<body>
  <div id="app">
    {include file="/index/header" /}
    <div style="background-color:#f4f4f4;line-height:2.5rem;height:2.5rem;width:100%;padding-left:0.5rem;">请选择反馈问题的类型</div>
    <div class="aui-content">
      <ul class="aui-list aui-list-in">
        <li class="aui-list-item" @click="changeIndex(true)">
          <div class="aui-list-item-inner">
            <div class="aui-list-item-title">功能异常</div>
            <div class="aui-list-item-right">
              <i class="aui-iconfont iconfont icon-roundcheckfill aui-margin-r-5 aui-font-size-20 aui-text-info" v-show="selectFirst"></i>
              <i class="aui-iconfont iconfont icon-roundcheckfill aui-margin-r-5 aui-font-size-20" style="color: #ccc" v-show="!selectFirst"></i>
            </div>
          </div>
        </li>
        <li class="aui-list-item" @click="changeIndex(false)">
          <div class="aui-list-item-inner">
            <div class="aui-list-item-title">功能改进</div>
            <div class="aui-list-item-right">
              <i class="aui-iconfont iconfont icon-roundcheckfill aui-margin-r-5 aui-font-size-20 aui-text-info" v-show="!selectFirst"></i>
              <i class="aui-iconfont iconfont icon-roundcheckfill aui-margin-r-5 aui-font-size-20" style="color: #ccc" v-show="selectFirst"></i>
            </div>
          </div>
        </li>
      </ul>
      <div class="option">问题和意见描述</div>
      <textarea id="message" rows="8" cols="80" v-model="message"></textarea>
      <div class="area">
        <div class="submit" @click="submit()">提交</div>
      </div>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        title: '帮助与反馈',
        selectFirst: true,
        message: ''

      },
      methods: {
        changeIndex: function (flag) {
          this.selectFirst = flag;
        },
        submit: function () {
          if(typeof lastSubmitTime === 'undefined'){
              lastSubmitTime = Date.now();
          }else if(Date.now() - lastSubmitTime < 2000){
              lastSubmitTime = Date.now()
              return;
          }
          
          if (!this.message) {
            layer.msg('请填入问题和意见描述');
            return
          }
          httpRequest('POST', 'api_articles/feedbacks/save', {
            user_id: user.id,
            title: this.selectFirst ? '功能异常' : '功能改进',
            content: this.message
          }).then(function (resp) {
            layer.msg(resp.msg);
            setTimeout(function () {
              history.back();
            }, 500)
          })
        }
      }
    })

  </script>
</body>

</html>