<!-- 订单确认页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
<style>
  .aui-bar-tab {
    height: 2.5rem;
    border-top: 1px solid #f4f4f4;
    overflow: hidden;
  }

  .aui-bar-tab .price {
    width: 75%;
    text-align: right;
    display: inline-block;
    line-height: 2.5rem;
    padding-right: 0.5rem;
    font-size: 0.7rem;
    height: 2.5rem;
  }

  .aui-bar-tab .submit {
    display: inline-block;
    height: 2.5rem;
    width: 25%;
    background: linear-gradient(to bottom, #41c4da, #34a3e4, #2680ef);
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
  }

  .aui-bar-tab .submit:active {
    background-color: #1273f2
  }

  .line:after {
    display: block;
    content: "";
    clear: both;
  }

  .line .left {
    color: #777;
    font-size: 0.75rem;
    height: 2rem;
    line-height: 2rem;
    float: left;
  }

  .line .right {
    float: right;
    color: #777;
    font-size: 0.75rem;
    height: 2rem;
    line-height: 2rem;
  }

  .line-through-text {
    text-decoration: line-through;
  }
</style>
</head>

<body>
  <div id="app">
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header" style="background-image:none;">
      <a class="aui-pull-left aui-btn" onclick="javascript:window.history.back(); return false;">
        <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title" v-text="title"></div>
    </header>
    <!-- 默认地址 -->
    <div class="aui-content aui-margin-b-10 aui-margin-t-5">
      <ul class="aui-list aui-media-list" style="background-image:none;">
        <li class="aui-list-item aui-list-item-arrow" style="background-image:none;" @click="selectAddress()">
          <div class="aui-media-list-item-inner">
            <div class="aui-list-item-label-icon">
              <i class="aui-iconfont iconfont icon-dizhi1 aui-font-size-20 aui-text-info"></i>
            </div>
            <div class="aui-list-item-inner">
              <div class="aui-list-item-text">
                <div class="aui-list-item-title aui-font-weight" v-text="address.province + ' ' + address.city + ' ' + address.area + ' ' + address.address"></div>
              </div>
              <div class="aui-info aui-margin-t-10" style="padding:0">
                <div class="aui-info-item">
                  <span v-text="address.consignee_name"></span>
                </div>
                <div class="aui-info-item" v-text="address.mobile"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- 商品列表 -->
    <div class="aui-content aui-padded-l-5 aui-padded-r-5 aui-padded-t-5 aui-bg-white" style="background-image:none;">
      <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-margin-b-5 aui-bg-default" v-for="(item,key) in goodsList" :key="key" style="background-image:none;">
          <div class="aui-media-list-item-inner">
            <!-- 商品缩略图 -->
            <div class="aui-list-item-media">
              <img v-if="item.select_spec_group_info.id" :src="item.select_spec_group_info.thum || item.goods_info.thum">
              <img v-else :src="item.goods_info.thum">
            </div>
            <div class="aui-list-item-inner">
              <!-- 商品名称 -->
              <div class="aui-list-item-text">
                <div class="aui-list-item-title aui-ellipsis-2 aui-font-size-14" v-text="item.goods_info.name"></div>
              </div>
              <!-- 商品简介 -->
              <div class="aui-list-item-text">
                <div class="aui-list-item-title aui-ellipsis-2 aui-text-pray  aui-font-size-12 aui-padded-t-5" v-text="item.goods_info.intro"></div>
              </div>
              <!-- 规格名称 -->
              <div class="aui-list-item-text" v-if="item.select_spec_group_info.id">
                <div class="aui-list-item-title aui-text-pray aui-font-size-12 aui-padded-t-5" v-text="'规格: ' + item.select_spec_group_info.spec_option_group"></div>
              </div>
              <!-- 价格和数量 -->
              <div class="aui-list-item-text aui-margin-t-5">
                <!-- 规格价格 -->
                <div class="aui-list-item-title aui-text-price aui-font-size-14" v-if="item.select_spec_group_info.id" :class="{'line-through-text' : isDiscountGoods}">
                  <span style="font-size: 0.5rem;">￥</span>
                  <span class="aui-font-size-14" v-text="item.select_spec_group_info.sell_price"></span>
                </div>
                <!-- 商品价格 -->
                <div class="aui-list-item-title aui-text-price aui-font-size-14" v-else :class="{'line-through-text' : isDiscountGoods}"
                  v-text="'￥' + item.goods_info.sell_price"></div>
                <!-- 数量操作 -->
                <div style="display: flex; margin-left: 20px" class="aui-list-item-right aui-text-price aui-margin-t-5" style="line-height: 1rem;">
                  <i class="aui-iconfont iconfont icon-jian aui-font-size-20 aui-text-info" @click="changeNum(item, -1)"></i>
                  <!-- <span  v-text="item.num" style="vertical-align: top;"></span> -->
                  <input type="text" v-model="item.num" class="aui-padded-l-5 aui-padded-r-5 aui-font-size-14 aui-text-center" @change="numberChange">
                  <i class="aui-iconfont iconfont icon-jia aui-font-size-20 aui-text-info" @click="changeNum(item, 1)"></i>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <ul class="aui-list aui-list-in">
      <!-- 选择限时折扣活动 -->
      <li class="aui-list-item" v-if="isDiscountGoods">
        <div class="aui-list-item-inner">
          <div class="aui-list-item-title aui-font-size-14">限时折扣单价</div>
          <div class="aui-list-item-right" v-for="(discount, key) in discounts" :key="key" v-if="key == 0">
            <span class="aui-text-price aui-font-size-12">￥</span>
            <span class="aui-text-price aui-font-size-18" v-text="discount.discount_price"></span>
          </div>
        </div>
      </li>
      <!-- 选择满减 如果为限时折扣商品则不显示 -->
      <li class="aui-list-item" v-if="!isDiscountGoods" v-show="fulls.length != 0" @click="selectMarketActivity('full')">
        <div class="aui-list-item-inner aui-list-item-arrow">
          <div class="aui-list-item-title aui-font-size-14">选择满减优惠</div>
          <div class="aui-list-item-right" v-show="selectedMarketType == 'full' && selectedMarketActivity.id">
            <span>{{'满' + selectedMarketActivity.full_money + '元减' + selectedMarketActivity.reduce_money + '元' }}</span>
          </div>
        </div>
      </li>
      <!-- 选择优惠券 如果为限时折扣商品则不显示 -->
      <li class="aui-list-item" v-if="!isDiscountGoods" v-show="coupons.length != 0" @click="selectMarketActivity('coupon')">
        <div class="aui-list-item-inner aui-list-item-arrow">
          <div class="aui-list-item-title aui-font-size-14">选择优惠券</div>
          <div class="aui-list-item-right" v-show="selectedMarketType == 'coupon' && selectedMarketActivity.id">
            <span v-show="selectedMarketActivity.coupon_type == 'full'">{{'满' + selectedMarketActivity.reach_money + '元减' + selectedMarketActivity.change_value + '元' }}</span>
            <span v-show="selectedMarketActivity.coupon_type == 'discount'">{{'满' + selectedMarketActivity.reach_money + '元打' + selectedMarketActivity.change_value + '折' }}</span>
          </div>
        </div>
      </li>
      <!-- 运费 -->
      <li class="aui-list-item">
        <div class="aui-list-item-inner">
          <div class="aui-list-item-title aui-font-size-14">运费</div>
          <div class="aui-list-item-right aui-font-size-14">
            <span class="aui-font-size-12">￥</span>
            <span v-text="freight_money"></span>
          </div>
        </div>
      </li>
    </ul>
    <!-- 其他信息 -->
    <div class="aui-padded-l-5 aui-padded-r-5 aui-bg-white" style="margin-bottom:2.8rem;">
      <div class="line">
        <div class="left">买家留言:</div>
        <div class="">
          <textarea class="aui-padded-5" rows="18" cols="80" style="border:1px solid #f7f7f7;height:5rem;" v-model="message" placeholder="选填"></textarea>
        </div>
      </div>
    </div>

    <footer class="aui-bar aui-bar-tab" id="footer">
      <div class="price" style="background-color:#a0a0a0;">
        <span style="color:#dedddd;">合计:
          <span class="aui-text-white aui-font-size-12">￥</span>
          <span class="aui-text-white aui-font-size-18" v-text="totalPriceFilter"></span>
        </span>
      </div>
      <div class="submit" @click="submit()">提交订单</div>
    </footer>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        isDiscountGoods: querystring.isDiscountGoods,
        title: '确认订单',
        message: '',
        address: {
          consignee_name: '',
          province: '',
          city: '',
          area: '',
          address: '',
          mobile: '',
        },
        goodsList: getStorage('goodsList', sessionStorage),
        freight_money: 0,
        totalPrice: 0,
        // 可选择优惠券
        coupons: [],
        // 可选择限时折扣
        discounts: [],
        // 可选择满减
        fulls: [],
        // 选择的营销活动
        selectedMarketActivity: {},
        // 选择的营销类型
        selectedMarketType: 0,
        // 折扣价格
        discount_price: 1,
        // 按钮状态
        submitButtonStatus: true,
      },
      methods: {
        numberChange: function(){
          this.goodsList.forEach(item => {
            item.num = parseInt(item.num, 10)
          })
          this.queryFreight_money();
        },
        // 改变数量
        changeNum: function (item, num) {
          if (num == -1 && item.num < 2) {
            return;
          }
          item.num = Number(item.num) + Number(num);
          this.queryFreight_money();
        },
        // 提交订单
        submit: function () {
          if(typeof lastSubmitTime === 'undefined'){
              lastSubmitTime = Date.now();
          }else if(Date.now() - lastSubmitTime < 2000){
              lastSubmitTime = Date.now()
              return;
          }
        
          if (!this.submitButtonStatus) {
            return;
          }
          this.submitButtonDisabled = false;
          // 组装订单数据
          var orderData = this.goodsList.map(function (item) {
            var data = {
              goods_id: item.goods_info.id,
              num: item.num,
              spec_group_id_str: 0,
            }
            if (item.select_spec_group_info.id) {
              data.spec_group_id_str = item.select_spec_group_info.id_str;
            }
            return data;
          })
          httpRequest('POST', 'api_orders/orders/save', {
            address_id: this.address.id,
            goods_info: orderData,
            market_activity_type: this.selectedMarketType,
            market_activity_id: this.selectedMarketActivity.id || 0,
            memo: this.message
          }).then(function (resp) {
            layer.msg(resp.msg);
            setTimeout(function () {
              gotowap('pay_select', { order_no: resp.data.order_no, total_money: resp.data.total_money, order_id: resp.data.id,type:resp.data.type });
            }, 500)
          }).catch(function () {
            that.submitButtonStatus = true;
          })
        },
        // 选择地址
        selectAddress: function () {
          var innerHeight = window.innerHeight
            || document.documentElement.clientHeight
            || document.body.clientHeight;
          layer.open({
            type: 2,
            title: '请选择地址',
            content: location.origin + '/wap/index/address_list_select.html',
            offset: 'b',
            area: [document.body.offsetWidth + 'px', innerHeight * 0.6 + 'px'],
            anim: 2,
            fixed: true,
            resize: false,
          })
        },
        // 选择优惠券
        selectMarketActivity: function (type) {
          var activityFrameTitle = 0;
          if (type == 'full') {
            activityFrameTitle = '请选择满减优惠活动'
          } else if (type == 'coupon') {
            activityFrameTitle = '请选择优惠券'
          }
          this.selectedMarketType = 0;
          setStorage('activityType', type, sessionStorage);
          this.selectedMarketActivity = {};
          var innerHeight = window.innerHeight
            || document.documentElement.clientHeight
            || document.body.clientHeight;
          layer.open({
            type: 2,
            title: activityFrameTitle,
            content: location.origin + '/wap/index/select_market_activity.html',
            offset: 'b',
            area: [document.body.offsetWidth + 'px', innerHeight * 0.6 + 'px'],
            anim: 2,
            fixed: true,
            resize: false,
          })
        },
        // 查询运费及可参与活动
        queryFreight_money: function () {
          var that = this;
          // 重置选择的优惠
          this.selectedMarketType = 0;
          this.selectedMarketActivity = {};
          // 定义查询数据
          var orderData = that.goodsList.map(function (item) {
            var data = {
              goods_id: item.goods_info.id,
              num: item.num,
              spec_group_id_str: 0
            }
            if (item.goods_info.spec_info.length) {
              data.spec_group_id_str = item.select_spec_group_info.id_str;
            }
            return data;
          })
          // 订单预览
          httpRequest('POST', 'api_orders/orders/view', {
            address_id: this.address.id,
            goods_info: orderData
          }).then(function (resp) {
            that.freight_money = resp.data.freight_money;
            that.totalPrice = resp.data.total_money;

            // 查询可参与的优惠活动
            return httpRequest('POST', 'api_query/market/user', {
              money: resp.data.total_money,
              goods_ids: that.goodsList.map(function (item) {
                return item.goods_info.id
              })
            })
          }).then(function (resp) {
            // 去掉后缀0
            (resp.data.coupon || []).forEach(function (item) {
              item.change_value = Number(item.change_value).toPrecision();
              item.reach_money = Number(item.reach_money).toPrecision();
            });
            // 去掉后缀0
            (resp.data.full || []).forEach(function (item) {
              item.reduce_money = Number(item.reduce_money).toPrecision();
              item.full_money = Number(item.full_money).toPrecision();
            })
            that.coupons = resp.data.coupon || [];
            that.fulls = resp.data.full || [];
            that.discounts = resp.data.discount || [];
            // 如果是限时折扣商品，则计算总价格
            if (querystring.isDiscountGoods && !resp.data.discount) {
              layer.msg('您不能享受该折扣商品');
              setTimeout(function () {
                history.back();
              }, 500)
            }
            if (querystring.isDiscountGoods) {
              that.discount_price = that.discounts[0].discount_price * that.goodsList[0].num;
              that.selectedMarketType = 'discount';
              that.selectedMarketActivity = that.discounts[0];
            }
          })
        }
      },
      watch: {
        // 地址发生改变
        address: function (address) {
          this.queryFreight_money();
        },
      },
      computed: {
        // 计算总价格
        totalPriceFilter: function () {
          var price = 0;
          if (querystring.isDiscountGoods) {
            price = (Number(this.discount_price) + Number(this.freight_money)) || 0
          } else if (this.selectedMarketType == 'full' && this.selectedMarketActivity.id) {
            price = (this.totalPrice > this.selectedMarketActivity.full_money) ? this.totalPrice - this.selectedMarketActivity.reduce_money : this.totalPrice;
          } else if (this.selectedMarketType == 'coupon' && this.selectedMarketActivity.id) {
            if (this.selectedMarketActivity.coupon_type == 'full') {
              price = (this.totalPrice > this.selectedMarketActivity.reach_money) ? this.totalPrice - this.selectedMarketActivity.change_value : this.totalPrice;
            } else if (this.selectedMarketActivity.coupon_type == 'discount') {
              price = (this.totalPrice > this.selectedMarketActivity.reach_money) ? this.totalPrice * this.selectedMarketActivity.change_value * 0.1 : this.totalPrice;
            }
          } else {
            price = this.totalPrice;
          }
          return Number(price);
        }
      },
      mounted: function () {
        var that = this;
        httpRequest('POST', 'api_query/users/default_address').then(function (resp) {
          if (isEmptyObject(resp.data)) {
            var innerHeight = window.innerHeight
              || document.documentElement.clientHeight
              || document.body.clientHeight;
            layer.open({
              type: 2,
              title: '请先添加收货地址',
              content: location.origin + '/wap/index/address_edit_select.html',
              offset: 'b',
              area: [document.body.offsetWidth + 'px', innerHeight * 0.6 + 'px'],
              anim: 2,
              fixed: true,
              resize: false,
            })
          } else {
            that.address = resp.data;
          }
        });
      }
    })
  </script>
</body>

</html>