<!-- 新建html模板页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
<style>
  #top {
    background: url('__static__/wap/images/home.png') no-repeat;
    background-size: 100% 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    position: relative;
  }

  #top #avatar {
    width: 18%;
    margin-left: 10%;
  }

  #top #setting {
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: .75rem;
  }

  #top .level {
    background: #58abf1;
    border-radius: .2rem;
    padding: 0px .3rem;
  }
</style>
</head>

<body>
  <div id="app">
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header" style="background-image:none;">
      <a class="aui-pull-left aui-btn" onclick="history.back()">
        <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title" v-text="title"></div>
      <a class="aui-pull-right aui-btn" onclick="gotowap('level')">
        <span class="aui-iconfont">积分明细</span>
      </a>
    </header>
    <!-- 中间页 -->
    <div class="aui-content">
      <section class="aui-content aui-bg-white">
        <div class="aui-margin-5" id="top">
          <img :src="user.avatar" class="aui-img-round" id="avatar">
          <div class="aui-text-white aui-margin-l-15">
            <div v-text="user.nick_name || '匿名用户'" class="aui-font-size-18"></div>
            <div class="aui-font-size-12">
              <i class="aui-iconfont aui-icon-mobile aui-font-size-12"></i>
              <span v-text="user.mobile"></span>
            </div>
            <div class="aui-margin-t-5">
              <span class="level">
                <span class="aui-font-size-12" v-text="'积分: ' + score"></span>
              </span>
            </div>
          </div>
          <i v-if="is_sign_in == 0" class="iconfont aui-text-white" id="setting" @click="sign" v-text="'点击签到'"></i>
          <i v-if="is_sign_in == 1" class="iconfont aui-text-white" id="setting" v-text="'今日已签到'"></i>
        </div>
      </section>

      <div class="aui-content aui-margin-t-10">
        <ul class="aui-list aui-list-in">
          <li class="aui-list-item" onclick="gotowap('score_order_list', {status: 0})">
            <div class="aui-list-item-inner aui-list-item-arrow">
              <div class="aui-list-item-title">积分订单</div>
              <div class="aui-list-item-right">
                <div style="font-size:0.7rem;">全部订单</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <section class="aui-grid aui-margin-b-10">
        <div class="aui-row" v-if="score_shop_type == 1">
          <div class="aui-col-xs-6" onclick="gotowap('score_order_list', {status: 2})">
            <i class="aui-iconfont iconfont icon-daifahuo" style="font-size:1.4rem;"></i>
            <div class="aui-bar-tab-label aui-font-size-12 aui-text-default">待发货</div>
            <div class="aui-badge" v-text="orderCount.wait_ship_num" v-if="orderCount.wait_ship_num"></div>
          </div>
          <div class="aui-col-xs-6" onclick="gotowap('score_order_list', {status: 3})">
            <i class="aui-iconfont iconfont icon-yifahuo" style="font-size:1.4rem;"></i>
            <div class="aui-bar-tab-label aui-font-size-12 aui-text-default">待收货</div>
            <div class="aui-badge" v-text="orderCount.wait_finish_num" v-if="orderCount.wait_finish_num"></div>
          </div>
        </div>

        <div class="aui-row" v-if="score_shop_type == 2">
          <div class="aui-col-xs-4" onclick="gotowap('score_order_list', {status: 1})">
            <i class="aui-iconfont iconfont icon-daifukuan" style="font-size:1.4rem;"></i>
            <div class="aui-bar-tab-label aui-font-size-12 aui-text-default">待付款</div>
            <div class="aui-badge" v-text="orderCount.wait_pay_num" v-if="orderCount.wait_pay_num"></div>
          </div>
          <div class="aui-col-xs-4" onclick="gotowap('score_order_list', {status: 2})">
            <i class="aui-iconfont iconfont icon-daifahuo" style="font-size:1.4rem;"></i>
            <div class="aui-bar-tab-label aui-font-size-12 aui-text-default">待发货</div>
            <div class="aui-badge" v-text="orderCount.wait_ship_num" v-if="orderCount.wait_ship_num"></div>
          </div>
          <div class="aui-col-xs-4" onclick="gotowap('score_order_list', {status: 3})">
            <i class="aui-iconfont iconfont icon-yifahuo" style="font-size:1.4rem;"></i>
            <div class="aui-bar-tab-label aui-font-size-12 aui-text-default">待收货</div>
            <div class="aui-badge" v-text="orderCount.wait_finish_num" v-if="orderCount.wait_finish_num"></div>
          </div>
        </div>
      </section>

      <!-- 商品列表 -->
      <div v-if="haveNoData" class="aui-col-xs-12 aui-text-center" style="margin-top:30%;">
        <img src="__static__/wap/images/no_content.png" style="width:18%;margin:0 auto;">
        <h5 style="margin-top:1rem;" class="aui-font-size-14">啊哦,这里什么都没有~</h5>
      </div>
      <div v-else class="aui-flex-col aui-flex-center ">
        <div class="aui-flex-item-12 ">
          <div class="aui-flex-col ">
            <div class="aui-flex-item-6 " style="position: relative;padding:5px;" @click="goGoodsDetail(goods)" v-for="(goods,goodsKey) in list"
              :key="goodsKey ">
              <img :src="goods.goods_info.thum ">
              <h5 style="height: 2.2rem;" class="aui-text-default aui-ellipsis-2 aui-font-size-12 aui-padded-t-5 aui-padded-l-5 aui-padded-r-5
                  aui-bg-white "
                v-text="goods.goods_info.name"></h5>
              <p class="aui-padded-b-5 aui-padded-t-5 aui-padded-l-10 aui-padded-r-10 aui-bg-white ">
                <span class="aui-text-price" v-text="goods.score"></span>
                <span class="aui-text-price aui-font-size-10">积分</span>
                <span v-if="goods.money > 0" class="aui-text-price aui-font-size-10">+</span>
                <span v-if="goods.money > 0" class="aui-text-price" v-text="goods.money"></span>
                <span v-if="goods.money > 0" class="aui-text-price aui-font-size-10">￥</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    var avatarDom = document.getElementById('avatar');
    avatarDom.style.cssText += 'height:' + avatarDom.offsetWidth + 'px;';
    // 滚动到底部的事件
    scrollEvent = function () {
      var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
      if (document.documentElement.scrollHeight - scrollTop - document.documentElement.clientHeight < 10) {
        app.getData();
      }
    }
    var page = 1;
    var app = new Vue({
      el: '#app',
      data: {
        title: '积分商城',
        user: user,
        score: '',
        haveNoData: false,
        list: [],
        orderCount: {
          wait_comment_num: 0,
          wait_finish_num: 0,
          wait_pay_num: 0,
          wait_ship_num: 0
        },
        is_sign_in: 0,
        score_shop_type: 1, // 1为积分模式，2为积分+金额模式
      },
      methods: {
        sign: function () {
          var that = this;
          httpRequest('POST', 'api_users/users/sign_in').then(function (resp) {
            layer.msg(resp.msg);
            that.getSignInfo();
            that.getAssetInfo();
          })
        },
        getData: function () {
          var that = this;
          document.body.onscroll = null;
          httpRequest('POST', 'api_score_shop/score_goods/lists', {}, {
            'page-num': page,
            'page-limit': 10
          }).then(function (resp) {
            if (resp.data.length > 0) {
              that.haveNoData = false;
              that.list = that.list.concat(resp.data);
              if (resp.data.length == 10) {
                page++;
                document.body.onscroll = scrollEvent;
              } else {
                document.body.onscroll = null;
              }
            } else {
              if (page == 1) {
                that.haveNoData = true;
              }
            }
          });
        },
        goGoodsDetail: function (goods) {
          gotowap('score_goods_detail', { goodsId: goods.goods_id, id: goods.id })
        },
        getAssetInfo: function () {
          var that = this;
          // 用户资产信息
          httpRequest('POST', 'api_query/users/asset').then(function (resp) {
            that.score = resp.data.score;
          });
        },
        getSignInfo: function () {
          var that = this;
          // 查询今日是否签到
          httpRequest('POST', 'api_query/users/is_sign_in').then(function (resp) {
            that.is_sign_in = resp.data.is_sign_in;
          });
        }
      },
      mounted: function () {
        var that = this;
        that.getAssetInfo();
        that.getData();
        that.getSignInfo();
        // 查询当前积分模式
        httpRequest('POST', 'api_score_shop/rules/index').then(function (resp) {
          that.score_shop_type = resp.data.type;
        });
        // 统计积分订单
        httpRequest('POST', 'api_query/orders/score_shop_count').then(function (resp) {
          that.orderCount = resp.data;
        })
      }
    })
  </script>
</body>

</html>