<div id="foot">
  <div class="foot white minwid1200 over">
    <div class="w1200 row margin-top-15">
      <div class="col s3 over black-text margin-tt-15">
        <div class="left margin-lr-15">
          <img src="/public/static/portal/img/footer-icon.png">
        </div>
        <div class="left">
          <div class="font-size-16">特色服务体验</div>
          <div class="font-size-14">为你呈现不一样的服务</div>
        </div>
      </div>
      <div class="col s3 over black-text margin-tt-15">
        <div class="left margin-lr-15">
          <img src="/public/static/portal/img/footer-icon.png">
        </div>
        <div class="left">
          <div class="font-size-16 ">帮助中心</div>
          <div class="font-size-14">您的购物指南</div>
        </div>
      </div>
      <div class="col s3 over black-text margin-tt-15">
        <div class="left margin-lr-15">
          <img src="/public/static/portal/img/footer-icon.png">
        </div>
        <div class="left">
          <div class="font-size-16">七天无理由退换货</div>
          <div class="font-size-14">为你提供售后无忧担保</div>
        </div>
      </div>
      <div class="col s3 over black-text margin-tt-15">
        <div class="left margin-lr-15">
          <img src="/public/static/portal/img/footer-icon.png">
        </div>
        <div class="left">
          <div class="font-size-16">品质保障</div>
          <div class="font-size-14">品质护航，购物无忧</div>
        </div>
      </div>
    </div>
  </div>
  <div class="padding-btn-15" style="background: #f4f4f4;">
    <div class="w1200  padding-btn-15">
      <div class="row margin-tt-15 padding-btn-15">
        <div class="col s3 margin-top-15" style="padding: 15px 0 0;">
          <div class="margin-top-15">
            <img src="/public/static/portal/img/wancll-logo.png">
          </div>
          <div class="" style="margin-top: 35px;">
            <span class="font-size-12 black-text">关注我们：</span>
            <span class="inline-black relative wximg">
              <i class="iconfont  icon-weibo red-text " style="font-size:46px ;line-height: 1rem"></i>
              <span id="wximg">
              </span>
            </span>
            <span class="inline-black relative woimg  margin-lr-15">
              <i class="iconfont  icon-weixin-copy green-text" style="font-size:46px;line-height: 1rem"></i>
              <span id="woimg">
              </span>
            </span>
          </div>
        </div>
        <div class="col s7 over black-text">
          <div class="row"></div>
          <div class="col s3 bt">
            <div class="margin-btn-15 font-size-14 font-w">新手指南</div>
            <div class="margin-btn-5 font-size-12" v-for="(blogroll1,key) in blogrolls1" v-text="blogroll1.name" @click="gogoblogroll(blogroll1.href)"></div>
          </div>
          <div class="col s3 bt">
            <div class="margin-btn-15 font-size-14 font-w">支付方式</div>
            <div class="margin-btn-5 font-size-12" v-for="(blogroll2,key) in blogrolls2" v-text="blogroll2.name" @click="gogoblogroll(blogroll2.href)"></div>
          </div>
          <div class="col s3 bt">
            <div class="margin-btn-15 font-size-14 font-w">交易保障</div>
            <div class="margin-btn-5 font-size-12" v-for="(blogroll3,key) in blogrolls3" v-text="blogroll3.name" @click="gogoblogroll(blogroll3.href)"></div>
          </div>
          <div class="col s3 bt">
            <div class="margin-btn-15 font-size-14 font-w">投诉维权</div>
            <div class="margin-btn-5 font-size-12" v-for="(blogroll4,key) in blogrolls4" v-text="blogroll4.name" @click="gogoblogroll(blogroll4.href)"></div>
          </div>
        </div>
        <div class="col s2 center margin-top-15">
          <div class="qurde">
            <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=539789409,2887248174&fm=27&gp=0.jpg">
          </div>
          <div class="font-size-14 black-text">
            扫描下载到手机端
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" padding-tt-15 center white-text minwid1200 font-size-12" style="background: #282828;">
    <div class="margin-tt-5">
      <span class="border-right-white padding-lr-15 bt" v-for="(blogroll,key) in blogrolls" :key="key" v-text="blogroll.name" @click="gogoblogroll(blogroll.href)"></span>
    </div>
    <div class="white-text margin-tt-15">
      <span class="margin-right-15">技术支持：网开亿面</span>
      <span class="margin-left-15">网开亿面公司版权所有@1997-2018</span>
    </div>
  </div>
</div>
</div>
<script>
  var foot = new Vue({
    el: "#foot",
    data: {
      blogrolls: [],
      blogrolls1: [],
      blogrolls2: [],
      blogrolls3: [],
      blogrolls4: []
    },
    methods: {
      gogoblogroll: function (data) {
        window.open(data)
      }
    },
    mounted: function () {
      var that = this;
      httpRequest('post', 'api_articles/friendly_links/lists', { type_id: 15 }, function (resp) {
        that.blogrolls = resp.data
        httpRequest('post', 'api_articles/friendly_links/lists', { type_id: 14 }, function (resp) {
          resp.data.forEach(function (item) {
            if (item.position == 1) {
              that.blogrolls1.push(item)
            } else if (item.position == 2) {
              that.blogrolls2.push(item)
            } else if (item.position == 3) {
              that.blogrolls3.push(item)
            } else {
              that.blogrolls4.push(item)
            }
          })
        })
      })
      new QRCode(document.getElementById("wximg"), "https://weibo.com/wancll?from=feed&loc=at&nick=%E7%BD%91%E5%BC%80%E4%BA%BF%E9%9D%A2%E7%A7%91%E6%8A%80&noscale_head=1&is_all=1");
      new QRCode(document.getElementById("woimg"), "https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI2ODYyOTY2MQ==&scene=124#wechat_redirect");
    }
  })
  var footerData = JSON.parse(sessionStorage.getItem('footerData'));
  initFooter = function () {
    if (!footerData) {
      footerData = {};
      httpRequest('POST', 'dds/values_index', {
        class_id: 5
      }, function (resp) {
        footerData.bottomAds = resp.data.filter(function (item) {
          return item.position == 2
        });
        sessionStorage.setItem('footerData', JSON.stringify(footerData));
        htmlConcat();
      })

      httpRequest('GET', 'friendly_links', {}, function (resp) {
        footerData.friendLinks = {};
        resp.data.forEach(function (item) {
          footerData.friendLinks[item.type] = footerData.friendLinks[item.type] || [];
          footerData.friendLinks[item.type].push(item)
        })
        htmlConcat2();
      })
    } else {
      htmlConcat();
      htmlConcat2();
    }
  }

  htmlConcat = function () {
    var html = '';
    footerData.bottomAds.forEach(function (item) {
      html += '<li><a href="' + item.href + '"><img src="' + item.thum + '"></a></li>'
    })
    document.getElementById('bottom-posts').innerHTML = html;

  }
  htmlConcat2 = function () {
    var bHtml = '';
    for (var key in footerData.friendLinks) {
      bHtml += '<ul><li>' + key + '</li>';
      footerData.friendLinks[key].forEach(function (item) {
        bHtml += '<li><a href="' + item.href + '">' + item.name + '</a></li>';
      })
      bHtml += '</ul>';
    }
    bHtml += '<div class="rwm"><img src="/public/static/portal/images/ewm.png" /><p>网开亿面手机站</p></div><div class="phone"><a href="">网开亿面</a><span>4000-500-740</span></div>';
    document.getElementById('links').innerHTML = bHtml;
  }
</script>