<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="/public/static/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="/public/static/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="/public/static/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="/public/static/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="/public/static/common/css/ali_icon/iconfont.css" />

  <script src="/public/static/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="/public/static/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="/public/static/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="/public/static/common/script/common.js" type="text/javascript"></script>
  <script src="/public/static/common/script/config.js" type="text/javascript"></script>
  <script src="/public/static/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="/public/static/axios/axios.min.js"></script>
  <script src="/public/static/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
<link rel="stylesheet" href="/public/static/OwlCarousel2-2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/public/static/OwlCarousel2-2.2.1/assets/owl.theme.default.min.css">
<script src="/public/static/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .accound-btn{border-radius: 50px;padding: 2px 20px;}
    .accound-type-text{margin-left: 100px;}
    .reset-model-margin{margin: 10px 317px;}
    .reset-model-line{position: absolute;top: 29px;}
    .reset-model-input{width: 360px;margin:15px auto}
    .reset-model-btn{width: 110px;text-align: center;}
.idcard-add{height: 160px;width: 260px;}


</style>
</head>
<body>
    {include file="/index/header" /}
    <div id="app">
    <div class="w1200 margin-tt-15 over  black-text">
        <div class="left">
                <!-- 个人信息卡 -->
                <div class=" card-title-wrap">
                    <img  src="/public/static/portal/img/title-back.png" class="responsive-img">
                    <div class="margin-10 over card-text-wrap">
                        <div class="ridius-img left margin-15">
                            <img :src="user.avatar" alt="">
                        </div>
                        <div class="left margin-top-15">
                            <div class="font-size-18 margin-top-15 white-text" v-text="user.mobile"></div>
                            <div class="blue lighten-1 margin-top-5" style="border-radius: 4px;padding: 2px 4px;">
                                <img src="/public/static/portal/img/lr.png" alt="">
                                <span class="font-size-12 white-text" v-text="level"></span>
                            </div>
                        </div>
                    </div>
                    <div class="rate-line font-size-12 blue-text text-lighten-5">
                        <div class="rataing-nember" style="margin-left: 70%;" v-text="score"></div>
                        <div class="progress white">
                            <div class="determinate blue lighten-2" style="width: 70%"></div>   
                        </div>
                        <div class="ratas-nember right"></div>  
                    </div>
                </div>
                <div class="white grey-text text-darken-3 margin-top-15" style="border-radius: 5px">
                    <div class="card-right-nav-box  margin-10 padding-tt-10" style="border: none">
                        <div class="card-right-nav">
                            <div class="font-size-18 over margin-tt-10">
                                <i class="small material-icons left  blue-text text-lighten-1" style="width: 30px;margin-right: 5px;"></i>
                                <span class="left margin-top-5">交易管理</span>
                            </div>
                            <ul class="card-right-nav-ul">
                                <li class="margin-tt-13" @click="goto('cart_list')">购物车</li>
                                <li class="margin-tt-13"  @click="goto('setting')">我的订单</li>
                                <li class="margin-tt-13" @click="goto('comment_list')">我的评价</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-right-nav-box  margin-10 padding-tt-10">
                        <div class="card-right-nav">
                            <div class="font-size-18 over margin-tt-10">
                                <i class="small material-icons left blue-text text-lighten-1" style="width: 30px;margin-right: 5px;"></i>
                                <span class="left margin-top-5">账号管理</span>
                            </div>
                            <ul class="card-right-nav-ul">
                                <li class="margin-tt-13" @click="goto('setting')">个人信息</li>
                                <li class="margin-tt-13" @click="goto('account')">账号安全</li>
                                <li class="margin-tt-13" @click="goto('idcard_auth')" >实名认证</li>
                                <li class="margin-tt-13" @click="goto('address_list')">地址管理</li>
                                <li class="margin-tt-13"  @click="goto('collection_list')">我的收藏</li>
                                <li class="margin-tt-13"  @click="goto('level')">成长值<span class="blue-text text-lighten-1" v-text="'('+score+')'"></span></li>
                                <li class="margin-tt-13"  @click="goto('bind')">第三方账户</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-right-nav-box margin-10 padding-tt-10">
                        <div class="card-right-nav">
                            <div class="font-size-18 over margin-tt-10">
                                <i class="small material-icons left  blue-text text-lighten-1" style="width: 30px;margin-right:5px;"></i>
                                <span class="left margin-top-5">资产管理</span>
                            </div>
                            <ul class="card-right-nav-ul">
                                <li class="margin-tt-13" @click="goto('wallet')">我的钱包</li>
                                <li class="margin-tt-13" @click="goto('bankcard_list')">我的银行卡</li>
                                <li class="margin-tt-13" @click="goto('my_coupon_list')">我的优惠券<span class="blue-text text-lighten-2"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <div class="right right-content">
            <div class="padding-15 white ridius5">
                <div class="margin-5 font-size-16 black-text padding-tt-15 border-btn">修改绑定手机号</div>
                <div class="margin-15 font-size-14 grey-text text-darken-2 padding-tt-15 border-btn relative">
                        <div class="progress grey lighten-2" style="width: 95%;margin: 40px auto 60px;">
                                <div class="determinate blue" style="width: 25%" v-if="next == 0"></div>
                            <div class="determinate blue" style="width: 75%" v-else-if="next == 1"></div>
                            <div class="determinate blue" style="width: 100%" v-else-if="next == 2"></div>
                        </div>
                        <div class="over reset-model-line">
                            <div class="left  font-size-16  margin-10">
                                <span class="nember-blue inline-black white-text center">1</span>
                                <div class="black-text font-size-12 margin-top-10">身份验证</div>
                            </div>
                            <div class="left  font-size-16 center reset-model-margin">
                                <span class=" inline-black white-text center" :class="{'nember-blue':next == 1 || next == 2,'nember-grey':next == 0 }">2</span>
                                <div class="black-text font-size-12 margin-top-10">更换新的手机号码</div>
                            </div>
                             <div class="left font-size-16 center margin-10">
                                <span class="inline-black white-text center" :class="{'nember-blue':next == 2,'nember-grey':next == 0 || next == 1}">3</span>
                                <div class="black-text font-size-12 margin-top-10">完成</div>
                             </div>
                        </div>
                        <div class="center"  v-if="next == 0">
                        <div class="margin-tt-15">以绑定的手机号：<span v-text="mobile"></span></div>
                            <div class="reset-model-input flex border-grey">
                                <input type="text" class="border-grey flex1" placeholder="请输入旧手机号码" v-model="old_mobile">
                            </div>
                            <div class="white-text blue padding-10 inline-black margin-15 bt" style="width: 100px" @click='changNext(1)'>下一步</div>
                        </div>
                        <div class="center"  v-else-if="next == 1">
                                <div class="margin-tt-15 border-grey reset-model-input">
                                <input type="text" placeholder="请输入手机号码" v-model="new_mobile">
                                </div>
                                <div class="reset-model-input flex border-grey">
                                    <input type="text" class="border-grey flex1" placeholder="请输入验证码"  v-model="new_code">
                                    <div class="blue padding-10 white-text reset-model-btn bt"  onclick="sendVaricode(this, 2)">获取验证码</div>
                                </div>
                                <div class="white-text blue padding-10 inline-black margin-15 bt" style="width: 100px" @click='doReset()'>下一步</div>
                        </div>
                        <div class="center over margin-top-15" v-else-if="next == 2">
                               <div class="margin-15">
                                   <i class="iconfont icon-roundcheckfill blue-text" style="font-size: 50px;"></i>
                               </div>
                               <div class="margin-15">
                                   更换手机号码成功
                               </div>
                        </div>
                </div>
                        <div class="margin-15 over grey-text text-darken-3">
                            <div class="font-size-16  margin-tt-15">为什么要进行安全验证</div>
                            <div class="font-size-12 margin-tt-5">
                                    1.为了确保您的账户安全，在变更账户中的重要信息时需要身份验证，感谢您的支持与理解。
                            </div>
                            <div class="font-size-12">
                                    2.验证身份遇到问题？请提供用户名，手机号，历史发票。 
                            </div>
                        </div>
            </div>
            <div class="margin-top-15">
                    <img src="/public/static/portal/img/lien-img.png" alt="" class="responsive-img">
            </div>
        </div>
    </div>
    <div class="w1200 white over margin-btn-15">
        <div class="foot-list-title black-text text-lighten-1 margin-15 font-size-18 padding-left-15">猜你喜欢</div>
        <div class="foot-list margin-15 over">
          <div class="left foot-list-box" v-for="guessGood in guessGoods" @click="goto('goods_detail',{goodsId:guessGood.id})">
              <img :src="guessGood.thum" class="responsive-img">
              <div class="padding-10">
                  <div class="font-size-16 black-text" v-text="guessGood.name"></div>
                  <div class="margin-top-10 over">
                      <div class="left">
                          <span class="red-text font-size-16" v-text="'￥' + guessGood.sell_price"></span>
                          <span class="font-size-10 grey-text lighten-1" v-text="'￥' + guessGood.sell_price"></span>
                      </div>
                      <div class="right font-size-12 grey-text lighten-1" v-text="'月销量：'+guessGood.sell_num"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>
    {include file="index/footer" /}
    <script>
    var app = new Vue({
            el: '#app',
            data: {
                activeFooterIndex: 4,
                title: '',
                user: user,
                haveNoData: false,
                level: '',
                score: '',
                mobile:'',
                old_mobile:'',
                old_code:'',
                new_code:'',
                new_mobile:'',
                next:0,
                wait:90,
                guessGoods:[],
            },
            methods: {
                authentication: function () {
                    httpRequest('POST', 'api_query/users/auth',{},function (resp) {
                        var status = resp.data.status;
                        if (status == 0 || status == 2) {
                            goto('idcard_auth', {status: status, id: resp.data.id});
                        } else if (status == 1 || status == 3) {
                            goto('idcard_info');
                        }
                    })
                },
                changNext:function(next){
                    var mobile = app.user.mobile;
                    if (!variTelephone(mobile)) {
                      layer.msg('请填写正确的手机号码')
                      return;
                    }
                    if(app.user.mobile == this.old_mobile){
                        app.next = next;
                    }else{
                        layer.msg("旧手机号码错误");
                    }
                },
                doReset:function(){
                    var mobile = this.new_mobile;
                    if (!variTelephone(mobile)) {
                      layer.msg('请填写正确的手机号码')
                      return;
                    }
                    if (mobile == app.user.mobile) {
                      layer.msg('新手机号码不能与旧手机号码相同')
                      return;
                    }
                    app.new_mobile = this.new_mobile;
                    app.new_code = this.new_code;
                    httpRequest("post",'api_systems/helper/check_code',{mobile:this.new_mobile,code:this.new_code},function (resp){
                        if(resp.data.status){
                            app.next = 2;
                        }
                        var data = {
                            old_mobile:app.user.mobile,
                            new_mobile:app.new_mobile,
                            new_code:app.new_code,
                        }
                    })
                    httpRequest("post",'api_users/user_accounts/change_mobile',data,function (resp){
                        if(resp.code == 1){
                            app.next = 2;
                        }else{
                            layer.msg(resp.msg);
                        }
                    })
                }
            },
            mounted: function () {
                httpRequest('POST', 'api_query/users/asset',{},function (resp) {
                    if(querystring.type == 1){
                        app.title = "修改登录密码";
                    }else{
                        app.title = "修改支付密码";
                    }
                    app.level = resp.data.level;
                    app.score = resp.data.score;
                    app.mobile = mask(this.user.mobile,3,7,"****");
                //猜你喜欢
                })
                httpRequest('POST','api_goods/goods/lists',{is_top:1},function(resp){
                    app.guessGoods = resp.data;
                },{'page-num':1,'page-limit':4})
            }
        })
        function mask(str,begin,end,char){
         var fstStr = str.substring(0,begin);
         var scdStr =str.substring(begin,end);
         var lstStr = str.substring(end,str.length);
          return fstStr+scdStr.replace(scdStr,char)+lstStr;
        }
        sendVaricode = function (evn, type) {
      if (wait == 90) {
        var mobile = app.new_mobile;
        if (!variTelephone(mobile)) {
          layer.msg('请填写正确的手机号码')
          return;
        }
        httpRequest('POST', 'api_systems/helper/send_code', {
          mobile: mobile,
          type: 1
        },function (resp) {
          layer.msg(resp.msg)
          if (resp.code == 1) {
            sendclick(evn);
          }
        })
      }
    }

    wait = 90;
    sendclick = function (evn) {
      var obj = $(evn);
      if (wait == 0) {
        obj.attr('disabled', false);
        obj.text('获取验证码');
        obj.css('backgroundColor', '#358cff');
        wait = 60;
      } else {
        obj.css('backgroundColor', '#696969');
        obj.attr('disabled', true);
        obj.text(wait + '秒再次发送');
        wait--;
        setTimeout(function () {
          sendclick(evn);
        }, 1000);
      }
    }
    </script>
</body>

</html>