{include file="header" /}

<body>
  <section class="el-container  is-vertical">
    {include file="top" /}
    <section class="el-container">
      {include file="left" /}
      <section class="el-container  is-vertical">
        <main class="el-main" id="main">
          <div id="app">
            <fieldset>
              <legend>地区分红商</legend>
            </fieldset>
            <!-- 筛选 -->
            <el-row style="margin-bottom: 10px;">
              <el-col>
                <el-card>
                  <div slot="header">
                    <span>查询</span>
                  </div>
                  <el-row :gutter="20">
                    <!-- 筛选条件 -->
                    <el-col :span="5">
                      <el-input placeholder="请输入用户手机号" v-model="searchData.mobile">
                        <template slot="prepend">手机号</template>
                      </el-input>
                    </el-col>
                    <el-col :span="5">
                      <el-input placeholder="请输入用户昵称" v-model="searchData.nick_name">
                        <template slot="prepend">昵称</template>
                      </el-input>
                    </el-col>
                    <!-- 筛选按钮 -->
                    <el-col :span="4">
                      <el-button icon="el-icon-search" @click="search();"></el-button>
                      <el-button icon="el-icon-refresh" @click="refresh();"></el-button>
                    </el-col>
                  </el-row>
                </el-card>
              </el-col>
            </el-row>
            <!-- 列表 -->
            <el-row>
              <el-col>
                <el-card>
                  <div slot="header">
                    <span>地区分红商列表</span>
                    <el-button type="primary" style="float: right;" size="mini" icon="el-icon-plus" @click="goAdd()">新增地区代理分红商</el-button>
                  </div>
                  <!-- 批量操作 -->
                  <div style="margin-bottom: 10px">
                    <el-button type="danger" size="small" plain icon="el-icon-delete" @click="multiOperate('delete')" :disabled="multipleSelection.length == 0">批量删除</el-button>
                    <el-button type="danger" size="small" plain icon="el-icon-error" @click="multiOperate('off_line')" :disabled="multipleSelection.length == 0">批量下线</el-button>
                    <el-button type="success" size="small" plain icon="el-icon-success" @click="multiOperate('on_line')" :disabled="multipleSelection.length == 0">批量上线</el-button>
                  </div>
                  <!-- 表格 -->
                  <template>
                    <el-table :data="tableData" stripe style="width: 100%" @selection-change="handleSelectionChange">
                      <el-table-column type="selection" width="55"></el-table-column>
                      <el-table-column type="expand" width="55">
                        <template slot-scope="scope">
                          <el-form>
                            <el-form-item label="是否单独分红比例">
                              <el-tag v-if="scope.row.is_open_own_rate" type="success" size="mini">是</el-tag>
                              <el-tag v-else type="info" size="mini">否</el-tag>
                            </el-form-item>
                            <el-form-item label="单独分红比例(%)">{{scope.row.region_rate}}</el-form-item>
                            <el-form-item label="更新时间">
                              <i class="el-icon-time"></i>
                              <span>{{ scope.row.update_time }}</span>
                            </el-form-item>
                          </el-form>
                        </template>
                      </el-table-column>
                      <el-table-column prop="id" label="ID" width="80" sortable></el-table-column>
                      <el-table-column prop="user_id" label="用户ID" sortable></el-table-column>
                      <el-table-column prop="user_info.mobile" label="会员手机号"></el-table-column>
                      <el-table-column prop="user_info.nick_name" label="会员昵称"></el-table-column>
                      <el-table-column prop="type" label="代理级别">
                        <template slot-scope="scope">
                          <el-tag size="mini" v-show="scope.row.type == 1" type="success">省级代理</el-tag>
                          <el-tag size="mini" v-show="scope.row.type == 2" type="success">市级代理</el-tag>
                          <el-tag size="mini" v-show="scope.row.type == 3" type="success">县级代理</el-tag>
                        </template>
                      </el-table-column>
                      <el-table-column prop="province" label="省"></el-table-column>
                      <el-table-column prop="city" label="市">
                        <template slot-scope="scope">
                          <span v-if="scope.row.type == 2 || scope.row.type == 3">{{scope.row.city}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column prop="area" label="县">
                        <template slot-scope="scope">
                          <span v-if="scope.row.type == 3">{{scope.row.area}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column prop="status" label="状态" :filters="statusFilters" :filter-method="statusFilterHandler">
                        <template slot-scope="scope">
                          <el-tag v-if="scope.row.status == 1" type="success" size="mini">上线</el-tag>
                          <el-tag v-else-if="scope.row.status == 2" type="info" size="mini">下线</el-tag>
                        </template>
                      </el-table-column>
                      <el-table-column label="操作" width="150" fixed="right">
                        <template slot-scope="scope">
                          <el-button @click="handleClick(scope.row, 'edit')" type="primary" size="small" icon="el-icon-edit-outline" plain></el-button>
                          <el-button @click="handleClick(scope.row, 'del')" type="danger" size="small" icon="el-icon-delete" plain></el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </template>
                  <!-- 分页 -->
                  <template>
                    <div class="block" style="margin-top: 20px;">
                      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="pageSize"
                        :page-size="currentPageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                      </el-pagination>
                    </div>
                  </template>
                </el-card>
              </el-col>
            </el-row>
            <!-- dialog -->
            <el-dialog title="编辑地区代理分红商" :visible.sync="dialogVisible" width="70%">
              <el-row :gutter="30">
                <el-col :span="16" :offset="4">
                  <el-form :model="selectData" ref="ruleForm" :rules="rules" label-position="left" label-width="180px">
                    <el-form-item label="用户ID" prop="user_id">
                      <el-input v-model="selectData.user_id" disabled placeholder="请选择用户" style="width: 240px;"></el-input>
                      <el-button type="primary" plain @click="innerDialogVisible = true">选择用户</el-button>
                    </el-form-item>
                    <el-form-item label="用户昵称" prop="user_info.nickname">
                      <el-input v-model="selectData.user_info.nick_name" disabled style="width: 240px;"></el-input>
                    </el-form-item>
                    <el-form-item label="用户手机号" prop="user_info.mobile">
                      <el-input v-model="selectData.user_info.mobile" disabled style="width: 240px;"></el-input>
                    </el-form-item>
                    <el-form-item label="代理商级别" prop="type">
                      <el-radio v-model="selectData.type" :label="1">省级代理商</el-radio>
                      <el-radio v-model="selectData.type" :label="2">市级代理商</el-radio>
                      <el-radio v-model="selectData.type" :label="3">县级代理商</el-radio>
                    </el-form-item>
                    <el-form-item label="代理地区" prop="province_code" :rules="[{ required: true, message: '请选择省', trigger: 'blur' }]">
                      <el-select v-model="selectData.province_code" placeholder="请选择省">
                        <el-option v-for="(province, pKey) in provinces" :key="province.id" :label="province.name" :value="province.id"></el-option>
                      </el-select>
                      <transition name="el-fade-in-linear" prop="city_code" :rules="[{ required: true, message: '请选择市', trigger: 'blur' }]">
                        <el-select v-model="selectData.city_code" placeholder="请选择市" v-show="selectData.type == 2 || selectData.type == 3">
                          <el-option v-for="(city, cKey) in cities" :key="city.id" :label="city.name" :value="city.id"></el-option>
                        </el-select>
                      </transition>
                      <transition name="el-fade-in-linear" prop="area_code" :rules="[{ required: true, message: '请选择县', trigger: 'blur' }]">
                        <el-select v-model="selectData.area_code" placeholder="请选择县" v-show="selectData.type == 3">
                          <el-option v-for="(area, aKey) in areas" :key="area.id" :label="area.name" :value="area.id"></el-option>
                        </el-select>
                      </transition>
                    </el-form-item>
                    <el-form-item label="是否设置单独分红比例" prop="is_open_own_rate">
                      <el-switch v-model="selectData.is_open_own_rate"></el-switch>
                    </el-form-item>
                    <transition name="el-fade-in-linear">
                      <el-form-item label="分红比例(%)" prop="region_rate" v-show="selectData.is_open_own_rate">
                        <el-input v-model="selectData.region_rate" clearable placeholder="请输入分红比例"></el-input>
                      </el-form-item>
                    </transition>
                    <el-form-item>
                      <el-button @click="dialogVisible = false;" plain>取消</el-button>
                      <el-button type="primary" @click="submit">提交</el-button>
                    </el-form-item>
                  </el-form>
                </el-col>
              </el-row>
              <!-- 用户列表 -->
              <el-dialog title="用户列表" :visible.sync="innerDialogVisible" append-to-body>
                <el-row :gutter="20">
                  <el-col :span="9">
                    <el-input placeholder="请输入手机号码" v-model="innerDialogSearchData.mobile">
                      <template slot="prepend">手机号码</template>
                    </el-input>
                  </el-col>
                  <el-col :span="9">
                    <el-input placeholder="请输入用户昵称" v-model="innerDialogSearchData.nick_name">
                      <template slot="prepend">用户昵称</template>
                    </el-input>
                  </el-col>
                  <el-col :span="6">
                    <el-button icon="el-icon-search" @click="innerDialogSearch();"></el-button>
                    <el-button icon="el-icon-refresh" @click="innerDialogRefresh();"></el-button>
                  </el-col>
                </el-row>
                <el-table :data="innerDialogTableData" @row-click="innerDialogRowClick">
                  <el-table-column property="id" label="用户ID"></el-table-column>
                  <el-table-column property="nick_name" label="用户昵称"></el-table-column>
                  <el-table-column property="mobile" label="用户手机号码"></el-table-column>
                </el-table>
                <div style="margin-top: 20px;">
                  <el-pagination @size-change="innerDialogHandleSizeChange" @current-change="innerDialogHandleCurrentChange" :current-page="innerDialogCurrentPage"
                    :page-sizes="innerDialogPageSize" :page-size="innerDialogCurrentPageSize" layout="total, sizes, prev, pager, next, jumper"
                    :total="innerDialogTotal">
                  </el-pagination>
                </div>
              </el-dialog>
            </el-dialog>
          </div>
        </main>
        {include file="footer" /}
      </section>
    </section>
  </section>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        tableData: [],  //表格数据
        currentPage: parseInt(querystring.currentPage) || 1, //当前页
        currentPageSize: 20,  //当前页容量
        pageSize: [20, 40, 60, 80, 100, 200], //分页大小
        total: 0, //总页数
        multipleSelection: [],  //多选项
        // 状态过滤
        statusFilters: [{
          text: '上线',
          value: 1
        }, {
          text: '下线',
          value: 2
        }],
        // 查询条件
        searchData: {
          mobile: '',
          nick_name: ''
        },
        // --------------- dialog -------------------
        dialogVisible: false,
        selectData: {
          user_info: {}
        },
        rules: {
          user_id: [
            { required: true, message: '请选择用户', trigger: 'blur' },
          ],
        },
        provinces: [],
        cities: [],
        areas: [],
        // --------------- innerDialog -------------------
        innerDialogVisible: false,
        innerDialogTableData: [],

        innerDialogCurrentPage: 1,
        innerDialogCurrentPageSize: 10,
        innerDialogPageSize: [10, 20],
        innerDialogTotal: 0,
        
        innerDialogSelectData: {},
        innerDialogSearchData: {
          mobile: '',
          nick_name: ''
        }
      },
      methods: {
        // 点击代理
        handleClick(data, type) {
          if (type == 'del') {
            this.$confirm('确认删除?', { type: 'warning' }).then(_ => {
              httpRequest('POST', 'api_bonus/region_bonus/delete', { id: data.id }).then(resp => {
                this.$message.success(resp.msg);
                this.tableData.splice(this.tableData.indexOf(data), 1);
              })
            })
          } else if (type === 'edit') {
            this.$refs.ruleForm && this.$refs.ruleForm.clearValidate();
            this.selectData = deepCopy(data);
            this.dialogVisible = true;
          }
        },
        // 跳页
        handleCurrentChange(val) {
          this.currentPage = val;
          this.loadTableData();
        },
        // 改变页容量
        handleSizeChange(val) {
          this.currentPageSize = val;
          this.loadTableData();
        },
        // 过滤
        statusFilterHandler(value, row, column) {
          return row['status'] === value;
        },
        // 搜索
        search() {
          this.currentPage = 1;
          this.loadTableData();
        },
        // 重置
        refresh() {
          this.currentPage = 1;
          for (var key in this.searchData) {
            this.searchData[key] = ''
          }
          this.type_ids = [];
          this.loadTableData();
        },
        // 多选监听
        handleSelectionChange(val) {
          this.multipleSelection = val;
        },
        // 批量操作
        multiOperate(type) {
          let ids = this.multipleSelection.map(item => item.id);
          this.$confirm('确认批量操作?', '提示', { type: 'warning' }).then(_ => {
            httpRequest('POST', 'api_bonus/region_bonus/batch_' + type, { id: ids }).then(resp => {
              this.$message.success(resp.msg);
              setTimeout(_ => {
                location.reload();
              }, 500);
            })
          })
        },
        // 新增
        goAdd() {
          this.selectData = {
            user_id: '',
            type: 1, // 代理类别 1省 2市 3县
            province_code: '',
            city_code: '',
            area_code: '',
            is_open_own_rate: false,
            region_rate: '',
            status: 1,
            user_info: {}
          }
          this.dialogVisible = true;
          this.$refs.ruleForm && this.$refs.ruleForm.clearValidate();
        },
        // 加载数据
        loadTableData() {
          httpRequest('POST', 'api_bonus/region_bonus/index', this.searchData, {
            'page-num': this.currentPage,
            'page-limit': this.currentPageSize
          }).then(resp => {
            this.tableData = resp.data;
            this.total = resp.page.data_count || 0;
          })
        },
        // --------------- dialog -------------------
        submit() {
          this.$refs.ruleForm.validate(valid => {
            if (valid) {
              // 通过校验
              let router = this.selectData.id ? 'api_bonus/region_bonus/update' : 'api_bonus/region_bonus/save'
              httpRequest('post', router, this.selectData).then(resp => {
                this.$message.success(resp.msg)
                setTimeout(_ => {
                  location.reload();
                }, 500)
              });
            } else {
              return false;
            }
          });
        },
        // --------------- innerDialog -------------------
        // 跳页
        innerDialogHandleCurrentChange(val) {
          this.innerDialogCurrentPage = val;
          this.innerDialogLoadTableData();
        },
        // 改变页容量
        innerDialogHandleSizeChange(val) {
          this.innerDialogCurrentPageSize = val;
          this.innerDialogLoadTableData();
        },
        // 某一行被点击
        innerDialogRowClick(row) {
          this.selectData.user_id = row.id;
          this.selectData.user_info = row;
          this.innerDialogVisible = false;
        },
        // 搜索
        innerDialogSearch() {
          this.innerDialogCurrentPage = 1;
          this.innerDialogLoadTableData();
        },
        // 重置
        innerDialogRefresh() {
          this.innerDialogCurrentPage = 1;
          for (let key in this.innerDialogSearchData) {
            this.innerDialogSearchData[key] = ''
          }
          this.innerDialogLoadTableData();
        },
        innerDialogLoadTableData() {
          this.innerDialogSearchData.is_bonus = 1;
          httpRequest('POST', 'api_users/users/index', this.innerDialogSearchData, {
            'page-num': this.innerDialogCurrentPage,
            'page-limit': this.innerDialogCurrentPageSize
          }).then(resp => {
            this.innerDialogTableData = resp.data;
            this.innerDialogTotal = resp.page.data_count || 0;
          })
        }
      },
      watch: {
        'selectData.province_code'(value) {
          this.provinces.forEach(item => {
            if (item.id == value) {
              this.cities = item.citys;
            }
          })
        },
        'selectData.city_code'(value) {
          this.cities.forEach(item => {
            if (item.id == value) {
              this.areas = item.areas;
            }
          })
        },
      },
      mounted() {
        this.loadTableData();
        this.innerDialogLoadTableData();
        httpRequest('POST', 'api_systems/regions/index').then(resp => {
          this.provinces = resp.data;
        })
      },
    });
  </script>
</body>

</html>