<div id="app2">
    <nav class="gco-navbar site-header collapsed" data-waypointsok="0" id="site-header">
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand ga-data" href="index.html">
                    <span class="navbar-brand-logo">
                    </span>
                </a>
            </div>
            <div id="siteHeaderNavbar">
                <ul class="navbar-category">
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="首页" href="index.html" target="_self">
                            首页
                        </a>
                    </li>
                    <li class="category-item" data-load-lazyr="false">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="top-click-产品中心" href="product_2.html" target="_self">
                            产品中心
                        </a>
                        <div class="gco-dropdown-menu full-screen">
                            <div class="dropdown-container">
                                <div class="nav-columns">
                                    <div class="grid-container">
                                        <div class="grid stretch left">
                                            <div class="column-item cell is-fifth" v-for="(item,index) in column">
                                                <a :href="'alphalook3d_cn.html?id='+item.id" class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="智能人脸锁" target="_self">
                                                    <p class="title">
                                                        {{item.name_en}}
                                                    </p>
                                                    <p class="content" style="padding-right: 0px;">
                                                        {{item.name_en}}
                                                    </p>
                                                    <div class="product-img">
                                                        <img :src="item.thum" style="width: 100%;height: 100%;">
                                                        </img>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- <div class="column-item cell is-fifth">
                                                    <a data-ga-category="pc_nav" data-ga-action="click"
                                                        data-ga-label="人脸识别楼宇机" href="list_103_cn.html" target="_self"
                                                        class="ga-data">
                                                        <p class="title">智能楼宇设备</p>
                                                        <p class="content">刷脸出行 畅通无阻</p>
                                                        <div class="product-img"><img
                                                                src="http://www.xiaogutech.com/templates/xiaogu/img/products-2.jpg">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="column-item cell is-fifth">
                                                    <a data-ga-category="pc_nav" data-ga-action="click"
                                                        data-ga-label="智能人脸门禁设备" href="list_123_cn.html" target="_self"
                                                        class="ga-data">
                                                        <p class="title">3D智能人脸门禁设备</p>
                                                        <p class="content">人脸识别 快速通行</p>
                                                        <div class="product-img"><img
                                                                src="http://www.xiaogutech.com/templates/xiaogu/img/products-3.jpg">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="column-item cell is-fifth">
                                                    <a data-ga-category="pc_nav" data-ga-action="click"
                                                        data-ga-label="智能人脸设备" href="list-102-cn.html" target="_self"
                                                        class="ga-data">
                                                        <p class="title">智能人脸设备</p>
                                                        <p class="content">人脸识别 防止冒用</p>
                                                        <div class="product-img"><img
                                                                src="http://www.xiaogutech.com/templates/xiaogu/img/products-4.jpg">
                                                        </div>
                                                    </a>
                                                </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-pills-bottom">
                                    <div class="grid-container">
                                        <a class="gco-btn btn-compare ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="更多产品" href="product_2.html" target="_self">
                                            <span class="icon">
                                                <i data-feather="chevron-right">
                                                </i>
                                            </span>
                                            <p>
                                                更多产品
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="category-item" data-load-lazyr="false">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="解决方案" href="solutions_2.html" target="_self">
                            解决方案
                        </a>
                        <div class="gco-dropdown-menu full-screen">
                            <div class="dropdown-container">
                                <div class="nav-columns">
                                    <div class="grid-container">
                                        <div class="grid stretch left">
                                            <div class="column-item cell is-fifth">
                                                <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="人脸识别智慧社区" href="solutions_2.html" target="_self">
                                                    <p class="title">
                                                        人脸识别智慧社区
                                                    </p>
                                                    <div class="product-img">
                                                        <img src="http://www.xiaogutech.com/templates/xiaogu/img/case-1.jpg">
                                                        </img>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-pills-bottom">
                                    <div class="grid-container">
                                        <a class="gco-btn btn-compare ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="浏览详细" href="solutions_2.html" target="_self">
                                            <span class="icon">
                                                <i data-feather="chevron-right">
                                                </i>
                                            </span>
                                            <p>
                                                浏览详细
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="核心技术" href="list_3d.html" target="_self">
                            核心技术
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="3D视觉算法" href="list_3d.html" target="_self">
                                        3D视觉算法
                                    </a>
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="2D视觉算法" href="list_2d_cn_2.html" target="_self">
                                        2D视觉算法
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="服务支持" href="download_2.html" target="_self">
                            服务支持
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="下载中心" href="download_2.html" target="_self">
                                        下载中心
                                    </a>
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="售后服务" href="download_2.html#service" target="_self">
                                        售后服务
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="合作伙伴" href="partner_2.html" target="_self">
                            合作伙伴
                        </a>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="新闻中心" href="list_4_cn.html" target="_self">
                            新闻中心
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="公司动态" href="list_4_cn.html" target="_self">
                                        公司动态
                                    </a>
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="业界资讯" href="list_5_cn.html" target="_self">
                                        业界资讯
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="关于我们" href="aboutus_cn_2.html" target="_self">
                            关于我们
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="关于小钴科技" href="aboutus_cn_2.html" target="_self">
                                        关于小钴科技
                                    </a>
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="联系我们" href="contact_cn_2.html" target="_self">
                                        联系我们
                                    </a>
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="加入我们" href="job.html" target="_self">
                                        加入我们
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-right">
                    <!--<li class="nav-search">
                            <a data-ga-category="pc_nav" data-ga-action="click" href="#" class="nav-link nav-search-link ga-data"><span class="search-btn"><i data-feather="search"></i></span></a>
                        </li>-->
                    <!-- <li class="nav-account" >
                        <a data-ga-category="pc_nav" data-ga-action="click" data-ga-label="other-avatar" href="#"
                            class="nav-link ga-data"><img gco-lazy-src="{{avatar}}" class="gco-tpl avatar-icon"></a>
                            <a data-ga-category="pc_nav" data-ga-action="click" data-ga-label="other-avatar" href="#"
                            class="nav-link ga-data">欢迎,&nbsp;</a>
                            <li class="nav-item nick-name gco-tpl hidden">{{nick_name}}
                                <a href="javascript:;" rel="nofollow">欢迎,&nbsp;
                                </a>
                            </li>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item nick-name gco-tpl hidden">{{nick_name}}
                                    <a href="javascript:;" rel="nofollow">欢迎,&nbsp;
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-ga-category="pc_nav" data-ga-action="click" data-ga-label="other-my-account"
                                        href="#" class="ga-data">我的帐号</a>
                                </li>
                                <li class="nav-item">
                                    <a data-ga-category="pc_nav" data-ga-action="click" data-ga-label="other-logout"
                                        gco-click="logout" @click="logout();" href="#" class="logout-link ga-data">登出</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <li class="nav-account" style="margin-right: 20px" v-if="nick_name !=null && nick_name.length !=0">
                        <a class="nav-link" href="javascript:void(0);;">
                            欢迎, {{nick_name}}
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a @click="logout();" class="login-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-login" href="">
                                        登出
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-account" style="margin-right: 20px" v-else="">
                        <a class="nav-link" href="javascript:void(0);;">
                            <span class="user-icon">
                                <i data-feather="user">
                                </i>
                            </span>
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="login-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-login" href="login.html">
                                        登录
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="register-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-register" href="register_include.html">
                                        注册
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-account">
                        <a class="nav-link" href="javascript:void(0);;">
                            语言
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="login-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-login" href="http://www.xg.com/wap/index/index.html">
                                        中文
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="register-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-register" href="http://www.xg.com/wap/index_en/index.html">
                                        English
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--移动端导航开始-->
    <div class="moblie_head">
        <div class="lf">
            <a href="javascript:;">
                <img src="__static__/website/img/webimages_gco_logo.png"/>
            </a>
        </div>
        <div class="rg">
            <a class="a_js" href="javascript:;">
                <img src="__static__/website/img/list.png"/>
            </a>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="a_txt">
        <div class="div1 a_closed">
        </div>
        <div class="div2">
            <a class="a_closed" href="javascript:;">
                <img src="__static__/website/img/close.png" width="22"/>
            </a>
        </div>
        <div class="div3">
            <ul>
                <li>
                    <a href="index.html" onclick="goto()">
                        首页
                    </a>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        产品中心
                    </a>
                    <div class="a_txt2">
                        <template v-for="(item,index) in column">
                            <a :href="'alphalook3d_cn.html?id='+item.id">
                                {{item.name_en}}
                            </a>
                        </template>
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        解决方案
                    </a>
                    <div class="a_txt2">
                        <a href="solutions_2.html">
                            人脸识别智慧社区
                        </a>
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        核心技术
                    </a>
                    <div class="a_txt2">
                        <a href="list_3d.html" target="_blank">
                            3D视觉算法
                        </a>
                        <a href="list_2d_cn_2.html" target="_blank">
                            2D视觉算法
                        </a>
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        服务支持
                    </a>
                    <div class="a_txt2">
                        <a href="download_2.html" target="_blank">
                            下载中心
                        </a>
                        <a href="download_2.html#service" target="_blank">
                            售后服务
                        </a>
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="partner_2.html">
                        合作伙伴
                    </a>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        新闻中心
                    </a>
                    <div class="a_txt2">
                        <a href="list_4_cn.html">
                            公司动态
                        </a>
                        <a href="list_5_cn.html">
                            业界资讯
                        </a>
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        关于我们
                    </a>
                    <div class="a_txt2">
                        <a href="aboutus_cn_2.html">
                            关于小钴科技
                        </a>
                        <a href="contact_cn_2.html">
                            联系我们
                        </a>
                        <a href="job.html">
                            加入我们
                        </a>
                    </div>
                </li>
                <div class="clear">
                </div>
            </ul>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js">
    </script>
    <!--移动端导航结束-->
    <script>
        var app2 = new Vue({
        el: '#app2',
        data: {
            column: '',
            nick_name:''
        },
        mounted: function () {
            this.nick_name=sessionStorage.getItem("name");
            
            console.log(this.nick_name);

            $.ajax({
                async: true,
                type: 'POST',
                dataType: 'json',
                data: {
                },
                url: 'http://web.xiaogutech.com/index.php/api_articles/Articlesweb/goods_list',
                success: function (res) {
                    console.log(res);
                    app2.column = res.data;
                },
                error: function (res) {
                    console.log(res);
                }
            });
        },
        methods: {
            logout(){
                sessionStorage.clear();
                window.location.reload();
            }
        },
    })
    </script>
</div>