<div id="app2">
    <nav class="gco-navbar site-header collapsed" data-waypointsok="0" id="site-header">
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand ga-data" href="index.html">
                    <span class="navbar-brand-logo">
                    </span>
                </a>
            </div>
            <div id="siteHeaderNavbar">
                <ul class="navbar-category">
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="首页" href="index.html" target="_self">
                            <!-- 首页 -->
                            HOME
                        </a>
                    </li>
                    <li class="category-item" data-load-lazyr="false">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="top-click-产品中心" href="product_2.html" target="_self">
                            <!-- 产品中心 -->
                            PRODUCT
                        </a>
                        <div class="gco-dropdown-menu full-screen">
                            <div class="dropdown-container">
                                <div class="nav-columns">
                                    <div class="grid-container">
                                        <div class="grid stretch left">
                                            <div class="column-item cell is-fifth" v-for="(item,index) in column">
                                                <a :href="'alphalook3d_cn.html?id='+item.id" class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="智能人脸锁" target="_self" style="max-width: 200px;max-height: 100%; display: table-cell;text-align: center;vertical-align: middle;">
                                                    <p class="title">
                                                        {{item.name_en}}
                                                    </p>
                                                    <p class="content" style="padding-right: 0px;">
                                                        {{item.descriptive_en}}
                                                    </p>
                                                    <div class="product-img" style="max-width: 80%;margin-left: 10%;margin-right:10%; max-height: 200%;">
                                                        <img :src="item.thum" style="width: 100%;height: 100%;">
                                                        </img>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-pills-bottom">
                                    <div class="grid-container">
                                        <a class="gco-btn btn-compare ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="更多产品" href="product_2.html" target="_self">
                                            <span class="icon">
                                                <i data-feather="chevron-right">
                                                </i>
                                            </span>
                                            <p>
                                                <!-- 更多产品 -->More Products
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="核心技术" href="all_list.html" target="_self">
                            <!-- 核心技术 -->CORETECHNOLOGY
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="3D视觉算法" :href="'list_3d.html?id='+col.id" target="_self" v-for="(col,index) in hxjs._child">
                                        {{col.name_en}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="服务支持" href="download_2.html" target="_self">
                            <!-- 服务支持 -->SERVICE
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="下载中心" href="download_2.html" target="_self">
                                        <!-- 下载中心 -->Download
                                    </a>
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="售后服务" href="download_2.html#service" target="_self">
                                        <!-- 售后服务 -->Service
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="合作伙伴" href="partner_2.html" target="_self">
                            <!-- 合作伙伴 -->PARTNERS
                        </a>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="新闻中心" href="news_2.html" target="_self">
                            <!-- 新闻中心 -->NEWS
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="公司动态" :href="'news_2.html?id='+col.id" target="_self" v-for="(col,index) in xwzx._child">
                                        <!-- 公司动态 Company Dynamic-->{{col.name_en}}
                                    </a>
                                    <!-- <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="业界资讯" href="list_5_cn.html" target="_self"> -->
                                        <!-- 业界资讯 The industry information-->
                                    <!-- </a> -->
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="关于我们" href="aboutus_cn_2.html" target="_self">
                            <!-- 关于我们 -->ABOUT
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="关于小钴科技" href="aboutus_cn_2.html" target="_self">
                                        <!-- 关于小钴科技 -->About Us
                                    </a>
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="联系我们" href="aboutus_cn_2.html?id=45" target="_self">
                                        <!-- 联系我们 -->Contact Us
                                    </a>
                                    <a class="ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="加入我们" href="aboutus_cn_2.html?id=46" target="_self">
                                        <!-- 加入我们 -->Join Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="category-item relative">
                        <a class="ga-data">
                            LANGUAGE
                        </a>
                        <div class="gco-dropdown-menu single" style="right: 0px;">
                            <ul>
                                <li class="nav-item">
                                    <a :href="host+'/wap/index/index.html'" class="login-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-login">
                                        中文
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a :href="host+'/wap/index_en/index.html'" class="register-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-register">
                                        English
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-right">
                    <!--<li class="nav-search">
                            <a data-ga-category="pc_nav" data-ga-action="click" href="#" class="nav-link nav-search-link ga-data"><span class="search-btn"><i data-feather="search"></i></span></a>
                        </li>-->
                    <!-- <li class="nav-account" >
                        <a data-ga-category="pc_nav" data-ga-action="click" data-ga-label="other-avatar" href="#"
                            class="nav-link ga-data"><img gco-lazy-src="{{avatar}}" class="gco-tpl avatar-icon"></a>
                            <a data-ga-category="pc_nav" data-ga-action="click" data-ga-label="other-avatar" href="#"
                            class="nav-link ga-data">欢迎,&nbsp;</a>
                            <li class="nav-item nick-name gco-tpl hidden">{{nick_name}}
                                <a href="javascript:;" rel="nofollow">欢迎,&nbsp;
                                </a>
                            </li>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item nick-name gco-tpl hidden">{{nick_name}}
                                    <a href="javascript:;" rel="nofollow">欢迎,&nbsp;
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-ga-category="pc_nav" data-ga-action="click" data-ga-label="other-my-account"
                                        href="#" class="ga-data">我的帐号</a>
                                </li>
                                <li class="nav-item">
                                    <a data-ga-category="pc_nav" data-ga-action="click" data-ga-label="other-logout"
                                        gco-click="logout" @click="logout();" href="#" class="logout-link ga-data">登出</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <li class="nav-account" style="margin-right: 20px" v-if="user_id !=null && user_id.length !=0">
                        <a class="nav-link" href="javascript:void(0);;" style="    padding: 0px 30px;
    display: inline-block;
    transition: all .3s;
    color: #303233;
    vertical-align: middle;
    line-height: 14px;
    font-weight: 600;
    cursor: pointer;">
                            Welcome, {{nick_name}}
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a @click="logout();" class="login-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-login" href="">
                                        <!-- 登出 -->Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-account" style="margin-right: 20px" v-else="">
                        <a class="nav-link" href="javascript:void(0);;" style="    padding: 0px 30px;
    display: inline-block;
    transition: all .3s;
    color: #303233;
    vertical-align: middle;
    line-height: 14px;
    font-weight: 600;
    cursor: pointer;">
                            <span class="user-icon">
                                <i data-feather="user">
                                </i>
                            </span>
                        </a>
                        <div class="gco-dropdown-menu single">
                            <ul>
                                <li class="nav-item">
                                    <a class="login-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-login" href="login.html">
                                        <!-- 登录 -->Login
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="register-link ga-data" data-ga-action="click" data-ga-category="pc_nav" data-ga-label="other-register" href="register_include.html">
                                        <!-- 注册 -->Register
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--移动端导航开始-->
    <div class="moblie_head">
        <div class="lf">
            <a href="javascript:;">
                <img src="__static__/website/img/webimages_gco_logo.png"/>
            </a>
        </div>
        <div class="rg">
            <a class="a_js" href="javascript:;">
                <img src="__static__/website/img/list.png"/>
            </a>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="a_txt">
        <div class="div1 a_closed">
        </div>
        <div class="div2">
            <a class="a_closed" href="javascript:;">
                <img src="__static__/website/img/close.png" width="22"/>
            </a>
        </div>
        <div class="div3">
            <ul>
                <li>
                    <a href="index.html" onclick="goto()">
                        Home
                    </a>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        <!-- 产品中心 -->Product
                    </a>
                    <div class="a_txt2">
                        <template v-for="(item,index) in column">
                            <a :href="'alphalook3d_cn.html?id='+item.id">
                                {{item.name_en}}
                            </a>
                        </template>
                    </div>
                </li>
                <!-- <li>
                    <a class="a_js2" href="javascript:;">
                        解决方案
                    </a>
                    <div class="a_txt2">
                        <a href="solutions_2.html">
                            人脸识别智慧社区
                        </a>
                    </div>
                </li> -->
                <li>
                    <a class="a_js2" href="javascript:;">
                        <!-- 核心技术 -->CoreTechnology
                    </a>
                    <div class="a_txt2">
                        <a  :href="'list_3d.html?id='+item.id" v-for="(item,index) in hxjs._child">
                             {{item.name_en}}
                        </a>
                        <!-- <a href="list_2d_cn_2.html" target="_blank">
                            2D视觉算法
                        </a> -->
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        <!-- 服务支持 -->Service
                    </a>
                    <div class="a_txt2">
                        <a href="download_2.html" >
                            <!-- 下载中心 -->Download
                        </a>
                        <a href="download_2.html#service">
                            <!-- 售后服务2 -->Service
                        </a>
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="partner_2.html">
                        <!-- 合作伙伴 -->Partners
                    </a>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        <!-- 新闻中心 -->News
                    </a>
                    <div class="a_txt2">
                        <a  :href="'news_2.html?id='+item.id" v-for="(item,index) in xwzx._child">
                            {{item.name_en}}
                        </a>
                        <!-- <a href="list_5_cn.html">
                            业界资讯
                        </a> -->
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        <!-- 关于我们 -->About
                    </a>
                    <div class="a_txt2">
                        <a href="aboutus_cn_2.html">
                            <!-- 关于小钴科技 -->About Us
                        </a>
                        <a href="aboutus_cn_2.html?id=45">
                            <!-- 联系我们 -->Contact Us
                        </a>
                        <a href="aboutus_cn_2.html?id=46">
                            <!-- 加入我们 -->Join Us
                        </a>
                    </div>
                </li>
                <li>
                    <a class="a_js2" href="javascript:;">
                        Language
                    </a>
                    <div class="a_txt2">
                        <a :href="host+'/wap/index/index.html'">
                            中文
                        </a>
                        <a :href="host+'/wap/index_en/index.html'">
                            English
                        </a>
                    </div>
                </li>
                <div class="clear">
                </div>
            </ul>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js">
    </script>
    <!--移动端导航结束-->
    <script>
        var app2 = new Vue({
        el: '#app2',
        data: {
            column: '',
            nick_name:'',
            user_id:'',
            host:'',
            hxjs:'',
            xwzx:'',
        },
        mounted: function () {
            this.nick_name=sessionStorage.getItem("name");
            this.user_id=sessionStorage.getItem("id");
            this.host=window.location.protocol+"//"+window.location.host;
            console.log(this.nick_name);

            $.ajax({
                async: true,
                type: 'POST',
                dataType: 'json',
                data: {
                },
                url: '__localhost__/index.php/api_articles/Articlesweb/goods_list',
                success: function (res) {
                    console.log(res);
                    app2.column = res.data;
                },
                error: function (res) {
                    console.log(res);
                }
            });
            $.ajax({
                async: true,
                type: 'POST',
                dataType: 'json',
                data: {
                    
                },
                url: '__localhost__/index.php/api_articles/Articlesweb/tree',
                success: function (res) {
                    console.log(res);
                    app2.column2 = res.data;
                    for ( i =0; i< res.data.length;i++) {
                       switch(res.data[i].id)
                        {
                            case 64:
                                app2.hxjs=res.data[i];
                                break;
                            case 40:
                                app2.xwzx=res.data[i];
                                break;
                            default:
                                break;
                        }
                    }
                    
                },
                error: function (res) {
                    console.log(res);
                }
            });
        },
        methods: {
            logout(){
                sessionStorage.clear();
                window.location.reload();
            }
        },
    })
    </script>
</div>