<!-- 我的客户页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header">
      <a class="aui-pull-left aui-btn" onclick="javascript:window.history.back(); return false;">
        <span class="aui-iconfont aui-icon-left">
          我的客户
          <span class="aui-text-pray aui-font-size-16" v-text="'('+ data_count + ')'"></span>
        </span>
      </a>
      <!-- <div class="aui-title" v-text="title"></div> -->
      <a class="aui-pull-right aui-btn">
        <span class="aui-iconfont"></span>
      </a>
    </header>
    <!-- 中间页 -->
    <div class="aui-content">
      <div class="aui-clearfix aui-margin-10">
        <i class="iconfont icon-huiyuan1" style="color: #2a8ee8;"></i>
        <span class="aui-margin-l-10 aui-font-size-14">会员信息</span>
        <span class="aui-pull-right aui-font-size-14 aui-text-pray">金额/消费订单</span>
      </div>

      <div v-if="haveNoData" class="aui-col-xs-12 aui-text-center" style="margin-top:30%;">
        <img src="__static__/wap/images/no_content.png" style="width:18%;margin:0 auto;">
        <h5 style="margin-top:1rem;" class="aui-font-size-14">啊哦,这里什么都没有~</h5>
      </div>

      <ul v-else class="aui-list aui-media-list aui-bg-default">
        <li class="aui-list-item aui-list-item-middle aui-bg-white aui-margin-b-10" v-for="(cust, key) in custs" :key="key">
          <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media" style="width: 3rem;">
              <img :src="cust.avatar || '__static__/images/avatar.png'" class="aui-img-round aui-list-img-sm">
            </div>
            <div class="aui-list-item-inner">
              <div class="aui-list-item-text">
                <div class="aui-list-item-title" v-text="cust.mobile"></div>
                <div class="aui-list-item-right aui-text-info" v-text="cust.user_info.order_money + '元'"></div>
              </div>
              <div class="aui-list-item-text aui-margin-t-5">
                <div class="aui-list-item-title aui-font-size-14 aui-text-pray">注册时间: {{cust.create_time}}</div>
                <div class="aui-list-item-right  aui-text-pray" v-text="cust.user_info.order_num + '订单'"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    // 滚动到底部的事件
    scrollEvent = function () {
      var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
      if (document.documentElement.scrollHeight - scrollTop - document.documentElement.clientHeight < 10) {
        loadData();
      }
    }
    var app = new Vue({
      el: '#app',
      data: {
        title: '我的客户',
        haveNoData: false,
        custs: [],
        data_count: 0
      },
      methods: {

      },
      computed: {

      },
      filters: {

      },
      mounted: function () {

      }
    });
    var page = 1;
    function loadData() {
      document.body.onscroll = null;
      httpRequest('POST', 'api_drp/team/child_users', {}, {
        'page-num': page,
        'page-limit': 10
      }).
        then(function (resp) {
          app.data_count = resp.page.data_count;
          if (resp.data.length > 0) {
            app.haveNoData = false;
            resp.data.forEach(function (item) {
              app.custs.push(item);
            })
            if (resp.data.length == 10) {
              page++;
              document.body.onscroll = scrollEvent;
            } else {
              document.body.onscroll = null;
            }
          } else {
            if (page == 1) {
              app.haveNoData = true;
            }
          }
        });
    }
    loadData();
  </script>
</body>

</html>