<!-- 新建html模板页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
<link rel="stylesheet" href="__static__/OwlCarousel2-2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="__static__/OwlCarousel2-2.2.1/assets/owl.theme.default.min.css">
<script src="__static__/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<style>
  .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
  }

  #detail img {
    max-width: 100%;
  }

  .returni {
    position: absolute;
    z-index: 100;
    left: .5rem;
    top: .5rem;
    color: #333;
    font-weight: 400;
    font-size: .9rem;
  }

  .line {
    text-decoration: line-through;
    color: rgb(179, 179, 179);
  }

  .red {
    color: red;
  }

  .go-collage {
    background: red;
    color: #fff;
    padding: 0.2rem 0.3rem;
    border-radius: 10%;
    margin-left: 10px;
    margin-top: 5px;
  }
</style>
</head>

<body>
  <div id="app">
    <!-- 返回按钮 -->
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header" style="background-image:none;">
      <a class="aui-pull-left aui-btn" onclick="javascript:window.history.back(); return false;">
        <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title" v-text="title"></div>
      <a class="aui-pull-right aui-btn" @click="share()">
        <i class="aui-iconfont iconfont icon-leimupinleifenleileibie"></i>
      </a>
    </header>

    <!-- 轮播 -->
    <div class="owl-carousel owl-theme" id="owl-carousel1">
      <div class="item" v-for="(img,key) in goods.goods_info.imgs" :key="key">
        <a href="javascript:void(0)">
          <img :src="img" />
        </a>
      </div>
    </div>
    <!-- 商品信息 -->
    <div class="aui-content aui-padded-10 aui-bg-white">
      <h3 class="aui-padded-t-5" v-text="goods.goods_info.name"></h3>
      <p class="aui-font-size-12 aui-padded-t-5" style="color: #b3b3b3;">
        <span class="aui-pull-left red">
          ￥
          <span class="aui-font-size-20" v-text="goods.money"></span>
          <span class="line" v-text="'￥' + goods.goods_info.sell_price"></span>

        </span>
        <span class="aui-pull-right" style="padding-top: 0.4rem;" v-text="'销量:' + goods.goods_info.sell_num"></span>
    </div>

    <div class="aui-content aui-margin-b-10">
      <!-- 规格 -->
      <ul class="aui-list aui-list-in">
        <!-- <li class="aui-list-item" v-show="goods.spec_group_info.length" @click="selectSpec()">
          <div class="aui-list-item-inner aui-list-item-arrow">
            <div class="aui-list-item-title aui-font-size-14">选择商品规格</div>
            <div class="aui-list-item-right" v-text="select_spec_group_info.spec_option_group || ''"></div>
          </div>
        </li> -->
        <!-- 属性 -->
        <li class="aui-list-item" v-show="goods.goods_info.attr_info.length" @click="viewAttr()">
          <div class="aui-list-item-inner aui-list-item-arrow">
            <div class="aui-list-item-title aui-font-size-14">产品属性参数</div>
          </div>
        </li>
      </ul>
    </div>

    <!-- 拼团信息 -->
    <div class="aui-content aui-margin-b-10" v-if="group_shop_type == 2 && teams.length > 0">
      <ul class="aui-list aui-list-in">
        <li class="aui-list-item ">
          <div class="aui-list-item-inner aui-list-item-arrow">
            <div class="aui-list-item-title aui-font-size-14" v-text="teams.length + '人在拼单'"></div>
          </div>
        </li>
        <li class="aui-padded-l-10 aui-padded-r-10 aui-padded-b-10" v-for="(team,teamKey) in teams" :key="teamKey">
          <div class="aui-row aui-padded-t-10 aui-padded-b-10" style="border-top:1px solid #f5f5f5;" v-for="(user,userKey) in team.info"
            :key="userKey" v-if="userKey == 0">
            <div class="aui-col-xs-5">
              <img :src="user.user_info.avatar || '__static__/images/avatar.png'" id="avatar" class="aui-img-round aui-pull-left" style="height: 65px;width:65px">
              <span class="aui-font-size-16 aui-pull-left aui-padded-l-10" style="line-height:65px" v-text="user.user_info.nick_name || '匿名会员'">
              </span>
            </div>
            <div class="aui-col-xs-7">
              <div class=" aui-padded-t-10">
                <div class="aui-col-xs-7">
                  <span class="aui-font-size-14 aui-pull-right">还差
                    <span class="red" v-text="team.person_num - team.info.length + '人'"></span>拼成</span>
                  <br/>
                  <span class="aui-font-size-12 aui-pull-right" style="color:#585a59">剩余
                    <span>{{team.end_time_stamp | timeFilter}}</span>
                  </span>
                </div>
                <div class="aui-col-xs-5" @click="buy('group_join',team.group_buy_order_pid)">
                  <span class="go-collage aui-pull-left">去拼团</span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- 选项卡切换 -->
    <div class="aui-tab" id="tab">
      <div class="aui-tab-item" :class="{'aui-active': firstTabActive}" @click="changeTab(true)">详情</div>
      <div class="aui-tab-item" :class="{'aui-active': !firstTabActive}" @click="changeTab(false)">评价</div>
    </div>
    <!-- 详情 -->
    <div class="aui-padded-5" id="detail" v-html="goods.goods_info.desc" v-show="firstTabActive"></div>
    <!-- 评价 -->
    <div class="aui-bg-white" v-show="!firstTabActive">
      <div v-if="haveNoData" class="aui-col-xs-12 aui-text-center" style="margin-top:20%;margin-bottom: 4rem; background-color: #f5f5f5;">
        <img src="__static__/wap/images/no_content.png" style="width:18%;margin:0 auto;">
        <h5 style="margin-top:1rem;" class="aui-font-size-14">啊哦,这里什么都没有~</h5>
      </div>
      <div v-else class="aui-list aui-media-list">
        <div class="aui-list-item aui-padded-b-5" v-for="(comment,commentKey) in comments" :key="commentKey">
          <div class="aui-info">
            <div class="aui-info-item">
              <div class="aui-img-round" style="overflow: hidden;width: 1.5rem;height: 1.5rem;border-radius: 1.5rem;">
                <img v-if="comment.user_info" :src="comment.user_info.avatar || '__static__/images/avatar.png'" style="max-width: 100%;"
                />
              </div>
              <span class="aui-margin-l-5" v-if="comment.user_info" v-text="comment.user_info.nick_name || comment.user_info.mobile"></span>
            </div>
            <div class="aui-info-item" v-text="comment.create_time"></div>
          </div>
          <div>
            <i class="aui-iconfont iconfont icon-shoucang aui-margin-5" v-for="(item,key) in [1,2,3,4,5]" :key="key" style="font-size: 1.2rem;"
              :style="{color: ((key + 1) <= comment.score ? '#ffc640' : '#ccc')}"></i>
          </div>
          <div class="aui-list-item-text aui-padded-t-5 aui-padded-b-5" v-text="comment.content" style="word-break: break-all;"></div>
          <div class="aui-row aui-row-padded">
            <div class="aui-col-xs-3" v-for="(img,imgKey) in comment.imgs" :key="imgKey" @click="previewImg(img)">
              <img :src="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom:2.8rem;"></div>

    <!-- 底部 -->
    <footer class="aui-bar aui-bar-tab aui-margin-t-15" id="footer" style="border-top:1px solid #f1f1f1;">
      <div class="aui-bar-tab-item aui-text-white" tapmode style="width: auto;background-color:#000;font-size:0.6rem;" @click="buy('only', 0)">
        <div v-text="'￥' + goods.goods_info.sell_price"></div>
        单独购买
      </div>
      <div class="aui-bar-tab-item aui-text-white" tapmode style="width: auto;background-color:red;font-size:0.6rem;" @click="buy('group_create', 0)">
        <div v-text="'￥' + goods.money"></div>
        <span v-if="group_shop_type == 2" v-text="goods.person_num + '人团'"></span>
        <span v-else>参与拼团</span>
      </div>
    </footer>
  </div>
  <script>
    var avatarDom = document.getElementById('avatar');
    avatarDom.style.cssText += 'height:' + avatarDom.offsetWidth + 'px;';    
    var app = new Vue({
      el: '#app',
      data: {
        title: '商品详情',
        goods: {
          money: '',
          person_num: '',
          goods_info: {
            spec_info: [],
            attr_info: [],
            imgs: [],
            tags: [],
            stock: 0,
            sell_num: 0,
            sell_price: '',
          },
          spec_group_info: [],  //动态规格组合表
        },
        order_pid: 0,
        group_shop_type: 1, // 1为系统拼团，2为会员拼团
        teams: [],
        // 选择的规格组合项
        select_spec_group_info: {},
        // 选项卡
        firstTabActive: true,
        // 商品评论
        comments: [],
        haveNoData: false,
        page: 1,
        // 选择规格之后的操作
        selectSpecAfter: '',
      },
      methods: {
        //分享邀请
        share: function () {
          this.share_url = location.href;
          layer.open({
            type: 2,
            title: '邀请他人扫描二维码！',
            content: location.origin + '/wap/index/group_shop_share.html',
            offset: 'b',
            area: [document.body.offsetWidth + 'px', innerHeight * 0.50 + 'px'],
            anim: 2,
            fixed: true,
            resize: false,
          })
        },
        joinTeam: function (order_pid) {
          gotowap('group_join_order_confirm', { orderPid: order_pid });
        },
        //切换tab
        changeTab: function (flag) {
          this.firstTabActive = flag;
        },
        //点击购买
        buy: function (choice_type, order_pid) {
          var that = this;
          if(choice_type == 'only'){
            gotowap('goods_detail', { goodsId: that.goods.goods_id });
            return;
          }
          //是否选择规格
          if (that.goods.spec_group_info.length && !that.select_spec_group_info.spec_group_id_str) {
            that.selectSpec(choice_type, order_pid);
            that.selectSpecAfter = 'buy';
          } else {
            if (choice_type == 'only') {
              // setStorage('goodsList', [{ goods_info: that.goods, select_spec_group_info: that.select_spec_group_info, num: 1 }], sessionStorage);
              // gotowap('order_confirm');
            } else if (choice_type == 'group_create') {
              setStorage('groupGoodsList', [{ goods: that.goods, select_spec_group_info: that.select_spec_group_info, num: 1, order_pid: 0 }], sessionStorage);
              gotowap('group_order_confirm')
            } else if (choice_type == 'group_join') {
              setStorage('groupGoodsList', [{ goods: that.goods, select_spec_group_info: that.select_spec_group_info, num: 1, order_pid: order_pid }], sessionStorage);
              gotowap('group_order_confirm')
            }
          }
        },
        //预览图片
        previewImg: function (img) {
          var json = {
            "title": "预览", //相册标题
            "start": 0, //初始显示的图片序号，默认0
            "data": [   //相册包含的图片，数组格式
              {
                "src": img, //原图地址
                "thumb": img //缩略图地址
              },
            ]
          }
          layer.photos({
            photos: json,
            anim: 5
          });
        },
        // 选择规格
        selectSpec: function (choice_type, order_pid) {
          var that = this;
          if (choice_type == 'only') {
            this.selectSpecAfter = '';
            var innerHeight = window.innerHeight
              || document.documentElement.clientHeight
              || document.body.clientHeight;
            layer.open({
              type: 2,
              title: '请选择规格（单独购买）',
              content: location.origin + '/wap/index/group_only_goods_spec_info_select.html',
              offset: 'b',
              area: [document.body.offsetWidth + 'px', innerHeight * 0.85 + 'px'],
              anim: 2,
              fixed: true,
              resize: false,
            })
          } else if (choice_type == 'group_create') {
            this.selectSpecAfter = '';
            var innerHeight = window.innerHeight
              || document.documentElement.clientHeight
              || document.body.clientHeight;
            layer.open({
              type: 2,
              title: that.group_shop_type == 1 ? '请选择规格（参与拼团）' : '请选择规格（发起拼团）',
              content: location.origin + '/wap/index/group_create_goods_spec_info_select.html',
              offset: 'b',
              area: [document.body.offsetWidth + 'px', innerHeight * 0.85 + 'px'],
              anim: 2,
              fixed: true,
              resize: false,
            })
          } else if (choice_type == 'group_join') {
            that.order_pid = order_pid;
            this.selectSpecAfter = '';
            var innerHeight = window.innerHeight
              || document.documentElement.clientHeight
              || document.body.clientHeight;
            layer.open({
              type: 2,
              title: '请选择规格（加入拼团）',
              content: location.origin + '/wap/index/group_join_goods_spec_info_select.html',
              offset: 'b',
              area: [document.body.offsetWidth + 'px', innerHeight * 0.85 + 'px'],
              anim: 2,
              fixed: true,
              resize: false,
            })
          }
        },
        // 查看属性
        viewAttr: function () {
          var innerHeight = window.innerHeight
            || document.documentElement.clientHeight
            || document.body.clientHeight;
          layer.open({
            type: 2,
            title: '商品属性',
            content: location.origin + '/wap/index/score_or_group_goods_attr_info.html',
            offset: 'b',
            area: [document.body.offsetWidth + 'px', innerHeight * 0.5 + 'px'],
            anim: 2,
            fixed: true,
            resize: false,
          })
        },
        // 加载评论
        loadComments: function () {
          httpRequest('POST', 'api_query/goods/comments', {
            goods_id: querystring.goodsId
          }, {
              'page-num': this.page,
              'page-limit': 10
            }, false).
            then(function (resp) {
              if (resp.data.length > 0) {
                app.haveNoData = false;
                resp.data.forEach(function (item) {
                  app.comments.push(item);
                })
                if (resp.data.length == 10) {
                  app.page++;
                }
              } else {
                if (app.page == 1) {
                  app.haveNoData = true;
                }
              }
            });
        },
        setTimer: function () {
          var that = this;
          setInterval(function () {
            that.teams.forEach(function (item) {
              item.end_time_stamp -= 1000;
            })
          }, 1000)
        }
      },
      filters: {
        timeFilter: function (value) {
          if (!value) {
            return '';
          }

          if (value < 0) {
            return '0 天 00: 00: 00';
          }

          value = Math.floor(value / 1000);
          var day = Math.floor(value / 86400);
          value %= 86400;
          var hour = Math.floor(value / 3600);
          hour = hour < 10 ? '0' + hour : hour;
          value %= 3600;
          var minute = Math.floor(value / 60);
          minute = minute < 10 ? '0' + minute : minute;
          var second = value %= 60;
          second = second < 10 ? '0' + second : second;
          return day + '天 ' + hour + ': ' + minute + ': ' + second;
        }
      },
      mounted: function () {
        var that = this;
        // 查询当前拼团模式
        httpRequest('POST', 'api_group_buy/rules/index').then(function (resp) {
          that.group_shop_type = resp.data.type;
          if (that.group_shop_type == 1) {
            //加载系统拼团商品信息
            httpRequest('POST', 'api_group_buy/group_buy_system_goods/read', {
              id: querystring.id,
            }).then(function (resp) {
              resp.data.spec_group_info = resp.data.spec_group_info.map(function (item) {
                item.spec_option_group = item.spec_option_group.split('_').sort().toString();
                return item;
              })
              that.goods = resp.data;
              setTimeout(function () {
                carouselInit('#owl-carousel1', 1);
              }, 100);
            })
          } else if (that.group_shop_type == 2) {
            //加载会员拼团商品信息
            httpRequest('POST', 'api_group_buy/group_buy_user_goods/read', {
              id: querystring.id,
            }).then(function (resp) {
              resp.data.spec_group_info = resp.data.spec_group_info.map(function (item) {
                item.spec_option_group = item.spec_option_group.split('_').sort().toString();
                return item;
              })
              that.goods = resp.data;
              setTimeout(function () {
                carouselInit('#owl-carousel1', 1);
              }, 100);
            })

            // 查询当前商品的拼团信息
            httpRequest('POST', 'api_group_buy/group_buy_user_teams/lists', {
              goods_id: querystring.goodsId,
            }).then(function (resp) {
              var nowTime = Date.now();
              resp.data.forEach(function (item) {
                item.end_time_stamp = item.end_time_stamp * 1000 - nowTime;
              })
              that.teams = resp.data;
              that.setTimer();
            })
          }
        });

        // 加载商品评论
        this.loadComments();
      }
    });
  </script>
</body>

</html>