{include file="header" /}

<body>
  <section class="el-container  is-vertical">
    {include file="top" /}
    <section class="el-container">
      {include file="left" /}
      <section class="el-container  is-vertical">
        <main class="el-main" id="main">
          <div id="app">
            <fieldset>
              <legend>修改密码</legend>
            </fieldset>
            <el-row :gutter="20">
              <!-- 会员基本信息 -->
              <el-col :span="12">
                <el-card>
                  <div slot="header">
                    <span>修改密码</span>
                  </div>
                  <el-form :model="formData" ref="ruleForm" :rules="rules" label-position="left" label-width="120px">
                    <el-form-item label="帐户名" prop="guid">
                      <el-input v-model.number="formData.guid" readonly></el-input>
                    </el-form-item>
                    <el-form-item label="原始密码" prop="old_password">
                      <el-input v-model="formData.old_password" clearable type="password"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="password">
                      <el-input v-model="formData.password" clearable type="password"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="password_confirm">
                      <el-input v-model="formData.password_confirm" clearable type="password"></el-input>
                    </el-form-item>
                    <el-form-item>
                      <el-button type="primary" icon="el-icon-check" @click="submitForm('ruleForm')">提交</el-button>
                    </el-form-item>
                  </el-form>
                </el-card>
              </el-col>
            </el-row>
          </div>
        </main>
        {include file="footer" /}
      </section>
    </section>
  </section>

  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data() {
        return {
          formData: {
            guid: user.guid,
            old_password: '',
            password: '',
            password_confirm: ''
          },
          roles: [],
          rules: {
            old_password: [
              { required: true, message: '请输入原始密码', trigger: 'blur' },
            ],
            password: [
              { required: true, message: '请输入新密码', trigger: 'blur' },
            ],
            password_confirm: [
              { required: true, message: '请输入确认密码', trigger: 'blur' },
            ],
          }
        }
      },
      methods: {
        // 提交表单
        submitForm(formName) {
          this.$refs[formName].validate(valid => {
            if (valid) {
              this.$confirm('确认修改密码?', '提示').then(_ => {
                httpRequest('POST', 'api_admins/admin_accounts/mod_password_self', this.formData).then(resp => {
                  this.$message.success(resp.msg);
                  setTimeout(_ => {
                    rmStorage(getClientType() + 'User');
                    rmStorage(getClientType() + 'Token');
                    rmStorage('adminNavs');
                    rmStorage('basic_info');
                    location = location.origin + '/admin';
                  }, 500);
                })
              })
            } else {
              return false;
            }
          })
        },
      },
      mounted() {
        // 获取管理员信息
        httpRequest('POST', 'api_admins/admins/read', { id: user.id }).then(resp => {
          this.formData = resp.data;
        })
      }
    });


  </script>
</body>

</html>