<!-- 新建html模板页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
</head>

<body>
  <div id="app">
    <!-- 中间页 -->
    <div class="aui-row aui-padded-10">
      <!-- 缩略图 -->
      <div class="aui-col-xs-6">
        <img :src="select_spec_group_info.thum || goods.thum" class="aui-padded-15">
      </div>
      <!-- 价格和库存 -->
      <div class="aui-col-xs-6 aui-padded-10">
        <h2 class="aui-text-price">
          <span style="font-size: 0.6rem;">￥</span>
          <span class="aui-font-size-20" style="letter-spacing:.1rem;" v-text="select_spec_group_info.sell_price || goods.sell_price"></span>
        </h2>
        <h4 class="aui-text-default" v-text="'库存: ' + (select_spec_group_info.stock || goods.stock)"></h4>
      </div>
    </div>
    <!-- 规格选项 -->
    <div class="aui-content" style="margin-bottom:2.6rem;">
      <div class="aui-row aui-padded-5" v-for="(spec, specKey) in spec_info" :key="specKey">
        <h3 v-text="spec.name" class="aui-font-size-12"></h3>
        <div class="aui-col-xs-3 aui-padded-t-5 aui-padded-b-5 aui-margin-t-5 aui-font-size-12 aui-text-center" v-for="(option, optionKey) in spec.options"
          :key="optionKey" v-text="option.option" @click="selectSpec(option, spec, optionKey, specKey)" :class="[{'aui-bg-info': option.isSelected},{'aui-text-white': option.isSelected}]"></div>
      </div>
    </div>
    <footer class="aui-bar aui-bar-tab">
      <div class="aui-bar-tab-item aui-padded-l-15 aui-padded-r-15" @click="submit">
        <div class="aui-btn aui-btn-block aui-btn-sm aui-btn-info">确定</div>
      </div>
    </footer>
  </div>
  <script>
    var index = parent.layer.getFrameIndex(window.name);
    var app = new Vue({
      el: '#app',
      data: {
        // 商品信息
        goods_id: deepCopy(parent.app.goods.goods_id),
        goods: {
          spec_info: [],
          attr_info: [],
          imgs: [],
          tags: [],
          stock: 0,
          sell_num: 0,
          spec_group_info: [],  //动态规格组合表
        },
        // 选择的规格组信息
        select_spec_group_info: [],
        spec_info: [],
      },
      methods: {
        // 选择规格
        selectSpec: function (option, spec, optionKey, specKey) {
          var that = this;
          spec.options.forEach(function (o, key) {
            if (key == optionKey) {
              o.isSelected = true;
            } else {
              o.isSelected = false;
            }
          });
          Vue.set(this.spec_info, specKey, spec);
          var options = [];
          this.spec_info.forEach(function (s) {
            s.options.forEach(function (o) {
              if (o.isSelected) {
                options.push(o.option)
              }
            })
          })
          options = options.sort().toString();
          this.goods.spec_group_info.forEach(function (item) {
            if (options == item.spec_option_group) {
              that.select_spec_group_info = item;
            }
          })
        },
        // 确定
        submit: function () {
          var that = this;
          for (var i = 0; i < that.spec_info.length; i++) {
            var spec = that.spec_info[i];
            if (spec.options.every(function (option) {
              return !option.isSelected;
            })) {
              layer.msg('请选择【' + spec.name + '】规格项')
              return;
            }
          }
          parent.app.select_spec_group_info = deepCopy(this.select_spec_group_info);
          if (parent.app.selectSpecAfter == 'addCart') {
            parent.app.addCart();
          } else if (parent.app.selectSpecAfter == 'buy') {
            parent.app.buy('only', 0);
          }
          parent.layer.close(index);
        },
      },
      mounted: function () {
        var that = this;
        // 组合已选中规格
        if (!isEmptyObject(that.select_spec_group_info)) {
          that.spec_info = that.goods.spec_info.map(function (spec) {
            spec.options = spec.options.map(function (option) {
              return {
                isSelected: that.select_spec_group_info.spec_option_group.split(',').indexOf(option) != -1,
                option: option
              }
            })
            return spec;
          })
        };
        //加载商品
        httpRequest('POST', 'api_goods/goods/read', {
          id: that.goods_id,
        }).then(function (resp) {
          resp.data.spec_group_info = resp.data.spec_group_info.map(function (item) {
            item.spec_option_group = item.spec_option_group.split('_').sort().toString();
            return item;
          })
          that.goods = resp.data;

          that.spec_info = that.goods.spec_info.map(function (spec) {
            spec.options = spec.options.map(function (option) {
              return {
                isSelected: false,
                option: option
              }
            });
            return spec;
          })
        })
      }
    })
  </script>
</body>

</html>