<!-- 新建html模板页 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
  <meta name="keywords" content="wancllshop">
  <title></title>
  <!-- 公共资源文件引入 -->
  <link rel="stylesheet" href="__static__/common/css/loading.css" type="text/css">

  <link rel="stylesheet" href="__static__/wap/aui/css/aui.css" type="text/css">
  <link rel="stylesheet" href="__static__/wap/css/wap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="__static__/wap/aui/css/aui-flex.css" />

  <!-- 图标库 -->
  <link rel="stylesheet" type="text/css" href="__static__/common/css/ali_icon/iconfont.css" />

  <script src="__static__/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="__static__/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
  <script src="__static__/vue/vue-2.5.15/vue.min.js" type="text/javascript"></script>


  <script src="__static__/common/script/common.js" type="text/javascript"></script>
  <script src="__static__/common/script/config.js" type="text/javascript"></script>
  <script src="__static__/common/script/wapRouter.js" type="text/javascript"></script>

  <script src="__static__/axios/axios.min.js"></script>
  <script src="__static__/common/script/httpPromise.js"></script>
  <link rel="icon" id="icon-img" href="" type="image/x-icon"/>


  <!-- <script>
    document.title = getStorage('systemParams').system_title || ''
    document.getElementById("icon-img").href = getStorage('systemParams').web_icon;
  </script> -->
</head>

<body>
  <div id="app">
    <!-- 中间页 -->
    <div class="aui-content">
      <ul class="aui-list aui-list aui-media-list aui-bg-default" style="background-image:none;">
        <li class="aui-list-item aui-list-item-middle aui-margin-t-10 aui-margin-b-10 aui-bg-white" v-for="(activity, key) in activities"
          :key="key" @click="selectActivity(activity)">
          <!-- 优惠券 -->
          <div class="aui-media-list-item-inner" v-show="type == 'coupon'">
            <div class="aui-list-item-inner aui-list-item-arrow">
              <div v-show="activity.coupon_type == 'full'" class="aui-list-item-title">{{'满' + activity.reach_money + '元减' + activity.change_value + '元' }}</div>
              <div v-show="activity.coupon_type == 'discount'" class="aui-list-item-title">{{'满' + activity.reach_money + '元打' + activity.change_value + '折' }}</div>
              <div class="aui-list-item-text" v-text="'失效时间: ' + activity.expiry_time"></div>
            </div>
          </div>
          <!-- 满减 -->
          <div class="aui-media-list-item-inner" v-show="type == 'full'">
            <div class="aui-list-item-inner aui-list-item-arrow">
              <div class="aui-list-item-title">{{'满' + activity.full_money + '元减' + activity.reduce_money + '元' }}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    var index = parent.layer.getFrameIndex(window.name);
    var type = getStorage('activityType', sessionStorage);
    if (type == 'coupon') {
      var activities = JSON.parse(JSON.stringify(parent.app.coupons))
    } else if (type == 'full') {
      var activities = JSON.parse(JSON.stringify(parent.app.fulls))
    }
    var app = new Vue({
      el: '#app',
      data: {
        activities: activities,
        type: type
      },
      methods: {
        selectActivity: function (activity) {
          parent.app.selectedMarketActivity = JSON.parse(JSON.stringify(activity));
          parent.app.selectedMarketType = this.type;
          parent.layer.close(index);
        }
      },
      computed: {

      },
      filters: {

      },
      mounted: function () {

      }
    })
  </script>
</body>

</html>