{include file="header" /}

<body>
  <section class="el-container  is-vertical">
    {include file="top" /}
    <section class="el-container">
      {include file="left" /}
      <section class="el-container  is-vertical">
        <main class="el-main" id="main">
          <div id="app">
            <fieldset>
              <legend>积分订单管理</legend>
            </fieldset>
            <!-- 筛选 -->
            <el-row style="margin-bottom: 10px;">
              <el-col :span="24">
                <el-card>
                  <div slot="header">
                    <span>查询</span>
                  </div>
                  <el-row :gutter="20">
                    <!-- 筛选条件 -->
                    <el-col :span="5">
                      <span>订单状态</span>
                      <el-select v-model="searchData.status">
                        <el-option :value="2" label="待发货"></el-option>
                        <el-option :value="3" label="待收货"></el-option>
                        <el-option :value="4" label="已完成"></el-option>
                        <el-option :value="9" label="已取消"></el-option>
                      </el-select>
                    </el-col>
                    <el-col :span="5">
                      <el-input placeholder="请输入订单号" v-model="searchData.order_no">
                        <template slot="prepend">订单号</template>
                      </el-input>
                    </el-col>
                    <br /><br />
                    <el-col :span="5">
                      <span>支付类型</span>
                      <el-select v-model="searchData.pay_type">
                        <el-option :value="1" label="支付宝"></el-option>
                        <el-option :value="2" label="微信"></el-option>
                        <el-option :value="3" label="钱包"></el-option>
                      </el-select>
                    </el-col>
                    <br /><br />

                    <el-col :spen="5">
                      <spen>开始日期</spen>
                      <el-date-picker v-model="searchData.begin_time" type="datetime" placeholder="请输入开始日期" value-format="yyyy-MM-dd HH:mm:ss"></el-date-picker>
                      </el-input>
                    </el-col>
                    <br /><br />
                    <el-col :spen="5">
                      <spen>结束日期</spen>
                      <el-date-picker v-model="searchData.end_time" type="datetime" placeholder="请输入结束日期" value-format="yyyy-MM-dd HH:mm:ss"></el-date-picker>
                      </el-input>
                    </el-col>
                    <br /><br />
                    <!-- 筛选按钮 -->
                    <el-col :span="10">
                      <el-button icon="el-icon-search" @click="search();"></el-button>
                      <el-button icon="el-icon-refresh" @click="refresh();"></el-button>
                      <el-button icon="el-icon-download" @click="export_data();">导出订单</el-button>
                    </el-col>
                  </el-row>
                </el-card>
              </el-col>
            </el-row>
            <!-- 列表 -->
            <el-row>
              <el-col>
                <el-card>
                  <div slot="header">
                    <span>积分订单列表</span>
                  </div>
                  <!-- 表格 -->
                  <template>
                    <el-table :data="tableData" stripe style="width: 100%">
                      <el-table-column prop="id" label="ID" width="80" fixed sortable></el-table-column>
                      <el-table-column prop="user_info.mobile" label="会员信息" fixed>
                        <template slot-scope="scope">
                          <span>{{scope.row.user_info.mobile}} ({{scope.row.user_info.nick_name || '匿名用户'}})</span>
                        </template>
                      </el-table-column>
                      <el-table-column prop="order_no" label="订单号" fixed></el-table-column>
                      <el-table-column prop="total_score" label="兑换积分">
                        <template slot-scope="scope">
                          <span style="font-weight: bold;color: #409EFF">{{scope.row.total_score}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column prop="total_money" label="兑换金额">
                        <template slot-scope="scope">
                          <span style="font-weight: bold;color: #df0303">￥{{scope.row.total_money}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column prop="deliver_tip_num" label="提醒发货次数" sortable></el-table-column>
                      <el-table-column prop="status" label="订单状态" :filters="statusFilters" :filter-method="statusFilterHandler">
                        <template slot-scope="scope">
                          <el-tag size="mini" v-show="scope.row.status == 1">待付款</el-tag>
                          <el-tag size="mini" type="error" v-show="scope.row.status == 2">待发货</el-tag>
                          <el-tag size="mini" type="warning" v-show="scope.row.status == 3">待签收</el-tag>
                          <el-tag size="mini" type="success" v-show="scope.row.status == 4">已完成</el-tag>
                          <el-tag size="mini" type="info" v-show="scope.row.status == 9">已取消</el-tag>
                        </template>
                      </el-table-column>

                      <el-table-column prop="update_time" label="更新时间" sortable>
                        <template slot-scope="scope">
                          <i class="el-icon-time"></i>
                          <span>{{ scope.row.update_time }}</span>
                        </template>
                      </el-table-column>
                      <!-- 操作栏 两个操作width设置为140 三个200 -->
                      <el-table-column label="操作" fixed="right" width="140">
                        <template slot-scope="scope">
                          <el-button @click="handleClick(scope.row, 'edit')" type="primary" size="small" icon="el-icon-edit-outline" plain></el-button>
                          <el-button @click="handleClick(scope.row, 'sign_for')" size="small" plain v-if="scope.row.status == 3">签收</el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </template>
                  <!-- 分页 -->
                  <template>
                    <div class="block" style="margin-top: 20px;">
                      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="pageSize"
                        :page-size="currentPageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                      </el-pagination>
                    </div>
                  </template>
                </el-card>
              </el-col>
            </el-row>
            <el-dialog :visible.sync="dialogVisible" title="订单操作" width="80%" top="5vh">
              <!-- 会员基本信息 -->
              <el-row :gutter="40" class="order-text">
                <el-col :span="12">
                  <el-card>
                    <div slot="header">
                      <span>基本信息</span>
                    </div>
                    <!-- 订单号 -->
                    <el-row style="padding: 10px;">
                      <el-col :span="4">订单号</el-col>
                      <el-col :span="20" v-text="order.order_no"></el-col>
                    </el-row>
                    <el-row style="padding: 10px;">
                      <el-col :span="4">状态</el-col>
                      <el-col :span="20">
                        <el-tag size="mini" v-if="order.status == 1">待付款</el-tag>
                        <el-tag size="mini" type="danger" v-else-if="order.status == 2">待发货</el-tag>
                        <el-tag size="mini" type="warning" v-else-if="order.status == 3">待签收</el-tag>
                        <el-tag size="mini" type="success" v-else-if="order.status == 4">已完成</el-tag>
                        <el-tag size="mini" type="info" v-else-if="order.status == 9">已取消</el-tag>
                      </el-col>
                    </el-row>
                    <el-row style="padding: 10px;">
                      <el-col :span="4">订单价格</el-col>
                      <el-col :span="20">
                        <div>兑换积分:
                          <span style="font-weight: bold;color: #409EFF" v-text="order.total_score"></span>
                        </div>
                        <div>
                          兑换金额:
                          <span style="font-weight: bold;color: #df0303" v-text="order.total_money"></span>
                        </div>
                      </el-col>
                    </el-row>
                    <el-row style="padding: 10px;">
                      <el-col :span="4">收货信息</el-col>
                      <el-col :span="20">
                        <div>收货人:
                          <span v-text="order.consignee_name"></span>
                        </div>
                        <div>联系电话:
                          <span v-text="order.mobile"></span>
                        </div>
                        <div>收货地址:
                          <span v-text="order.province + ' ' + order.city + ' ' + order.area + ' '+ order.address"></span>
                        </div>
                      </el-col>
                    </el-row>
                    <el-row style="padding: 10px;">
                      <el-col :span="4">时间节点</el-col>
                      <el-col :span="20">
                        <div>订单创建时间:
                          <span v-text="order.create_time"></span>
                        </div>
                        <div v-if="order.pay_time">订单支付时间:
                          <span v-text="order.pay_time"></span>
                        </div>
                        <div v-else-if="order.deliver_time">发货时间:
                          <span v-text="order.deliver_time"></span>
                        </div>
                        <div v-else-if="order.finish_time">确认收货时间:
                          <span v-text="order.finish_time"></span>
                        </div>
                      </el-col>
                    </el-row>
                    <el-row style="padding: 10px;">
                      <el-col :span="4">买家留言</el-col>
                      <el-col :span="20">
                        <div v-text="order.memo"></div>
                      </el-col>
                    </el-row>
                  </el-card>
                </el-col>
                <el-col :span="12" v-if="order.status && order.status != 1 && order.status != 9">
                  <el-card>
                    <el-form :model="deliverFormData" ref="deliverForm" label-position="left" label-width="140px">
                      <el-form-item label="是否开启电子面单" prop="is_open_eorder">
                        <el-radio v-model="deliverFormData.is_open_eorder" :label="0">否</el-radio>
                        <el-radio v-model="deliverFormData.is_open_eorder" :label="1">是</el-radio>
                      </el-form-item>
                      <transition name="el-fade-in-linear">
                        <el-form-item label="快递方式" prop="express_type" v-show="!deliverFormData.is_open_eorder">
                          <el-select v-model="deliverFormData.express_type">
                            <el-option :label="option.label" :value="option.value" v-for="(option, key) in options" :key="key"></el-option>
                          </el-select>
                        </el-form-item>
                      </transition>
                      <transition name="el-fade-in-linear">
                        <el-form-item label="快递方式" prop="eorder_express_type" v-show="deliverFormData.is_open_eorder">
                          <el-select v-model="deliverFormData.eorder_express_type">
                            <el-option :label="option.label" :value="option.value" v-for="(option, key) in eOrderOptions" :key="key"></el-option>
                          </el-select>
                        </el-form-item>
                      </transition>
                      <el-form-item label="快递单号" prop="express_no">
                        <el-input v-model="deliverFormData.express_no" :disabled="deliverFormData.is_open_eorder"></el-input>
                      </el-form-item>
                      <transition name="el-fade-in-linear">
                        <el-form-item v-show="!deliverFormData.is_open_eorder">
                          <el-button @click="deliver('save','order')" v-if="order.status == 2">发货</el-button>
                          <el-button @click="deliver('update','order')" v-if="order.status == 3 && order.is_open_eorder == 0">更新发货信息</el-button>
                          <el-button @click="query()" v-if="order.status == 3 || order.status == 4">查询物流</el-button>
                        </el-form-item>
                      </transition>
                      <transition name="el-fade-in-linear">
                        <el-form-item v-show="deliverFormData.is_open_eorder">
                          <el-button @click="deliver('save','eorder')" v-if="order.status == 2">发货</el-button>
                          <el-button @click="deliver('update','eorder')" v-if="order.status == 3 && order.is_open_eorder == 0">更新发货信息</el-button>
                          <el-button @click="query()" v-if="order.status == 3 || order.status == 4">查询物流</el-button>
                        </el-form-item>
                      </transition>
                    </el-form>
                  </el-card>
                </el-col>
              </el-row>
              <!-- 商品列表 -->
              <el-row style="margin-top: 20px;">
                <el-col>
                  <el-card>
                    <div slot="header">
                      <span>商品信息</span>
                    </div>
                    <el-table :data="order.order_goods_info" stripe border>
                      <el-table-column type="expand">
                        <template slot-scope="scope">
                          <el-card v-if="scope.row.commission_info.length != 0">
                            <div slot="header">
                              <span>分销信息</span>
                            </div>
                            <el-table :data="scope.row.commission_info" stripe border>
                              <el-table-column label="分销层级">
                                <template slot-scope="scope2">
                                  <el-tag size="mini" type="success" v-if="scope2.row.level == 1">一级</el-tag>
                                  <el-tag size="mini" type="primary" v-else-if="scope2.row.level == 2">二级</el-tag>
                                  <el-tag size="mini" type="warning" v-else-if="scope2.row.level == 3">三级</el-tag>
                                </template>
                              </el-table-column>
                              <el-table-column label="用户id" prop="user_id"></el-table-column>
                              <el-table-column label="用户手机号" prop="user_info.mobile"></el-table-column>
                              <el-table-column label="用户昵称" prop="user_info.nick_name"></el-table-column>
                              <el-table-column v-if="order.status == 1 || order.status == 2 || order.status == 3 || order.status == 9" label="预计分佣金额" prop="expect_money">
                                <template slot-scope="scope">
                                  <span style="font-weight: bold;color: #df0303">￥ {{scope.row.expect_money}}</span>
                                </template>
                              </el-table-column>
                              <el-table-column v-else label="分佣得到金额" prop="real_money">
                                <template slot-scope="scope">
                                  <span style="font-weight: bold;color: #df0303">￥ {{scope.row.real_money}}</span>
                                </template>
                              </el-table-column>
                            </el-table>
                          </el-card>
                          <el-card style="margin-top: 20px;" v-if="scope.row.bonus_info.length != 0">
                            <div slot="header">
                              <span>分红信息</span>
                            </div>
                            <el-table :data="scope.row.bonus_info" stripe border>
                              <el-table-column label="分红类型">
                                <template slot-scope="scope2">
                                  <el-tag size="mini" type="success" v-if="scope2.row.bonus_type == 1">等级代理分红
                                    <span>{{scope2.row.current_bonus_level_name}}</span>
                                  </el-tag>
                                  <el-tag size="mini" type="primary" v-else-if="scope2.row.bonus_type == 2">地区代理分红
                                    <span v-if="scope2.row.region_type == 'area'">县级区域代理分红</span>
                                    <span v-if="scope2.row.region_type == 'city'">市级区域代理分红</span>
                                    <span v-if="scope2.row.region_type == 'province'">省级区域代理分红</span>
                                  </el-tag>
                                  <el-tag size="mini" type="warning" v-else-if="scope2.row.bonus_type == 3">全球代理分红</el-tag>
                                </template>
                              </el-table-column>
                              <el-table-column label="用户id" prop="user_id"></el-table-column>
                              <el-table-column label="用户手机号" prop="user_info.mobile"></el-table-column>
                              <el-table-column label="用户昵称" prop="user_info.nick_name"></el-table-column>
                              <el-table-column v-if="order.status == 1 || order.status == 2 || order.status == 3 || order.status == 9" label="预计分佣金额" prop="expect_money">
                                <template slot-scope="scope">
                                  <span style="font-weight: bold;color: #df0303">￥ {{scope.row.expect_money}}</span>
                                </template>
                              </el-table-column>
                              <el-table-column v-else label="分佣得到金额" prop="real_money">
                                <template slot-scope="scope">
                                  <span style="font-weight: bold;color: #df0303">￥ {{scope.row.real_money}}</span>
                                </template>
                              </el-table-column>
                            </el-table>
                          </el-card>
                        </template>
                      </el-table-column>
                      <el-table-column prop="goods_id" label="商品id" width="80"></el-table-column>
                      <el-table-column prop="thum" label="缩略图">
                        <template slot-scope="scope">
                          <img :src="scope.row.thum" style="max-width: 40%; ">
                        </template>
                      </el-table-column>
                      <el-table-column prop="name" label="商品名称"></el-table-column>
                      <el-table-column prop="name" label="规格">
                        <template slot-scope="scope">
                          <el-tag size="mini" v-show="scope.row.spec_group_id == 0 && scope.row.standard">{{scope.row.standard}}</el-tag>
                          <el-tag size="mini" v-show="scope.row.spec_group_id != 0">{{scope.row.spec_group_info}}</el-tag>
                        </template>
                      </el-table-column>
                      <el-table-column prop="score" label="兑换积分"></el-table-column>
                      <el-table-column prop="real_price" label="兑换金额">
                      </el-table-column>
                      <el-table-column prop="weight" label="重量(g)"></el-table-column>
                      <el-table-column prop="num" label="数量"></el-table-column>
                    </el-table>
                  </el-card>
                </el-col>
              </el-row>
              <!-- 订单操作 -->
              <el-row style="margin-top: 20px;">
                <el-button plain v-if="order.is_open_eorder && order.status == 3" @click="printEorder()">打印电子面单</el-button>
                <el-button plain type="primary" v-if="order.status == 3" @click="signFor()">系统签收</el-button>
              </el-row>
            </el-dialog>
          </div>
        </main>
        {include file="footer" /}
      </section>
    </section>
  </section>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        tableData: [],  //表格数据
        currentPage: parseInt(querystring.currentPage) || 1, //当前页
        currentPageSize: 20,  //当前页容量
        pageSize: [20, 40, 60, 80, 100, 200], //分页大小
        total: 0, //总页数
        // 状态过滤
        statusFilters: [{
          text: '待付款',
          value: 1
        }, {
          text: '待发货',
          value: 2
        }, {
          text: '待收货',
          value: 3
        }, {
          text: '已完成',
          value: 4
        }, {
          text: '已取消',
          value: 9
        }],
        // 查询条件
        searchData: {
          order_no: '',
          status: '',
          pay_type: '',
          begin_time: '',
          end_time: '',
        },
        // ------------------- dialog ------------------
        dialogVisible: false,
        order: {
          order_goods_info: [],
        },
        deliverFormData: {
          express_type: '',
          express_no: '',
          eorder_express_type: '',
          is_open_eorder: 0
        },
        eOrderOptions: [
          {
            value: 'SF',
            label: '顺丰'
          },
          {
            value: 'FAST',
            label: '快捷快递'
          },
          {
            value: 'ZJS',
            label: '宅急送'
          },
        ],
        options: [
          {
            value: 'huitongkuaidi',
            label: '百世汇通'
          },
          {
            value: 'ems',
            label: 'EMS'
          },
          {
            value: 'shentong',
            label: '申通'
          },
          {
            value: 'shunfeng',
            label: '顺丰'
          },
          {
            value: 'tiantian',
            label: '天天快递'
          },
          {
            value: 'yuantong',
            label: '圆通速递'
          },
          {
            value: 'yunda',
            label: '韵达快运'
          },
          {
            value: 'zhongtong',
            label: '中通速递'
          },
          {
            value: 'youzhengguonei',
            label: '邮政快递包裹'
          },
          {
            value: 'kuaijiesudi',
            label: '快捷快递'
          },
          {
            value: 'zhaijisong',
            label: '宅急送'
          },
        ],
      },
      methods: {
        // 点击代理
        handleClick(data, type) {
          if (type === 'edit') {
            this.order = deepCopy(data);
            this.deliverFormData.express_type = data.express_type;
            this.deliverFormData.express_no = data.express_no;
            this.deliverFormData.eorder_express_type = data.eorder_express_type;
            this.deliverFormData.is_open_eorder = data.is_open_eorder;
            this.dialogVisible = true;
          } else if (type == 'sign_for') {
            this.$confirm('确认帮助签收?', '提示', { type: 'warning' }).then(_ => {
              httpRequest('POST', 'api_orders/sign_orders/admin_sign', {
                order_id: data.id
              }).then(resp => {
                this.$message.success(resp.msg);
                setTimeout(_ => {
                  location.reload();
                }, 500);
              })
            })
          }
        },
        // 跳页
        handleCurrentChange(val) {
          this.currentPage = val;
          this.loadTableData();
        },
        // 改变页容量
        handleSizeChange(val) {
          this.currentPageSize = val;
          this.loadTableData();
        },
        // 过滤
        statusFilterHandler(value, row, column) {
          return row['status'] === value;
        },
        // 搜索
        search() {
          this.currentPage = 1;
          this.loadTableData();
        },
        // 重置
        refresh() {
          this.currentPage = 1;
          for (let key in this.searchData) {
            this.searchData[key] = ''
          }
          this.loadTableData();
        },
        // 导出数据
        export_data() {
          this.$confirm('确认导出?', '提示', { type: 'warning' }).then(_ => {
              httpRequest('POST', 'api_score_shop/orders/export', this.searchData).then(resp => {
                this.$message.success(resp.msg);
                window.open(resp.data);
              })
          })
        },
        // 加载数据
        loadTableData() {
          httpRequest('POST', 'api_score_shop/orders/index', this.searchData, {
            'page-num': this.currentPage,
            'page-limit': this.currentPageSize
          }).then(resp => {
            this.tableData = resp.data;
            this.total = resp.page.data_count || 0;
          })
        },
        // --------------- dialog --------------------
        // 发货
        deliver(type, eType) {
          let data = {
            order_id: this.order.id,
            is_open_eorder: this.deliverFormData.is_open_eorder
          }
          if (eType == 'order') {
            if (!this.deliverFormData.express_no) {
              this.$message.warning('请输入快递单号');
              return;
            } else if (!this.deliverFormData.express_type) {
              this.$message.warning('请选择快递公司');
              return;
            }
            data.express_no = this.deliverFormData.express_no;
            data.express_type = this.deliverFormData.express_type;
          } else if (eType == 'eorder') {
            if (!this.deliverFormData.eorder_express_type) {
              this.$message.warning('请选择电子面单公司');
              return;
            }
            data.eorder_express_type = this.deliverFormData.eorder_express_type;
          }
          this.$confirm('确认操作?', '提示', { type: 'warning' }).then(_ => {
            httpRequest('POST', `api_orders/deliver_goods/${type}`, data).then(resp => {
              this.$message.success(resp.msg)
              setTimeout(_ => {
                location.reload();
              }, 500);
            })
          })
        },
        // 打印电子面单
        printEorder() {
          this.$confirm('确认打印电子面单?', '提示', { type: 'warning' }).then(_ => {
            httpRequest('POST', 'api_orders/eorder/print_eorder', {
              order_id: this.order.id
            }).then(resp => {
              document.getElementById('eorder').innerHTML = resp.data;
              form1.submit();
            })
          })
        },
        // 帮助签收
        signFor() {
          this.$confirm('确认帮助签收?', '提示', { type: 'warning' }).then(_ => {
            httpRequest('POST', 'api_orders/sign_orders/admin_sign', {
              order_id: this.order.id
            }).then(resp => {
              this.$message.success(resp.msg);
              setTimeout(_ => {
                location.reload();
              }, 500);
            })
          })
        },
        // 查询物流
        query() {
          location = location.origin + '/admin/orders/query_logistics/' + querystringStringify({ express_type: this.deliverFormData.express_type, express_no: this.deliverFormData.express_no })
        }
      },
      mounted() {
        this.loadTableData();
      }
    });
  </script>
</body>

</html>